.product_data_tabs .crop_settings_tab a:before {
  font-family: "Dashicons";
  content: "\f165" !important;
  padding-left: 5px;
}

#crop_settings_tab_data .add-image-wrapper {
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid #eee;
}

#crop_settings_tab_data .add-image-wrapper .add-image {
  height: auto;
  font-size: 120%;
  padding: 15px 57px;
  display: inline-block;
}

#crop_settings_tab_data .image-list a {
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 6px;
  float: right;
  outline: none !important;
  border: 1px solid #eee;
  margin: 15px 15px 15px 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 2px;
}

#crop_settings_tab_data .image-list a:hover {
  border-color: #979696;
}

#crop_settings_tab_data .image-list a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

#crop_settings_tab_data .image-settings {
  position: fixed;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1500000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

#crop_settings_tab_data .image-settings.open {
  visibility: visible;
  opacity: 1;
}

#crop_settings_tab_data .image-settings .image-settings-inner {
  width: 800px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
  border-radius: 4px;
}

#crop_settings_tab_data .image-settings .image-settings-inner .image-cropper {
  width: 400px;
  float: right;
  position: relative;
  border-left: 1px solid #dedede;
}

#crop_settings_tab_data .image-settings .image-settings-inner .image-cropper .title {
  width: calc(100% - 10px);
  border-bottom: 1px solid #dedede;
  padding-right: 10px;
  padding-bottom: 13px;
  margin-bottom: 0px;
  font-weight: bold;
}

#crop_settings_tab_data .image-settings .image-settings-inner .image-cropper .image-cropper-inner {
  position: relative;
}

#crop_settings_tab_data .image-settings .image-settings-inner .image-cropper .image-cropper-inner img {
  width: 100%;
}

#crop_settings_tab_data .image-settings .image-settings-inner .extra-settings {
  float: right;
  width: 399px;
}

#crop_settings_tab_data .image-settings .image-settings-inner .extra-settings .form-field {
  float: right;
  width: calc(100% - 30px);
  padding: 15px !important;
  margin: 0px;
}

#crop_settings_tab_data .image-settings .image-settings-inner .extra-settings label {
  font-weight: bold;
  width: 100%;
  margin: 0px !important;
}

#crop_settings_tab_data .image-settings .image-settings-inner .extra-settings input,
#crop_settings_tab_data .image-settings .image-settings-inner .extra-settings select {
  width: 100%;
}

#crop_settings_tab_data .image-settings .image-settings-inner .actions {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 370px;
  padding: 15px;
  border-top: 1px solid #dedede;
}

#crop_settings_tab_data .image-settings .image-settings-inner .actions .remove {
  float: right;
  background: #cc2020;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border: 0px;
  height: auto;
  padding: 2px 15px;
}

#crop_settings_tab_data .image-settings .image-settings-inner .actions .save,
#crop_settings_tab_data .image-settings .image-settings-inner .actions .cancel {
  float: left;
  margin-right: 15px;
}

#crop_settings_tab_data .image-price {
  width: 100%;
  float: right;
  border-top: 1px solid #eee;
  padding: 15px;
}

#crop_settings_tab_data .image-price label {
  float: right;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  margin-bottom: 10px;
}
/*# sourceMappingURL=admin.css.map */