#header nav.navigation ul li
{

}
#header nav.navigation ul li:hover ul
{

    visibility: visible;
    opacity: 1;
}

#header nav.navigation ul li ul
{
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 30px;
    float: right;
    background: rgba(255,255,255,.95);
    box-shadow: 0px 1px 2px rgba(118,118,118,.21);
    width: 255px;
    max-height: 500px;
    overflow: hidden;
    line-height: 33px;
    border-radius: 4px;
    padding: 4px 0;
    transition: .4s visibility,.4s opacity;
 
    width: 200px;
    right: 0;
    z-index: 1;
    padding: 6px;

}
#header nav.navigation ul li ul li
{

}
#header nav.navigation ul li ul li a
{
        font-size: 16px;
    color: #00b1aa;
}
#header nav.navigation ul li ul li a:hover
{

}
/* hebrew */
@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css?ver=4.7.6");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");
@font-face {
  font-family: 'GveretLevin';
  font-style: normal;
  font-weight: 700;
  src: local("GveretLevinAlefAlefAlef Regular"), local("GveretLevinAlefAlefAlef-Regular"), url(../fonts/GveretLevinAlefAlefAlef-Regular.woff) format("woff"); }
body {
  font-family: 'Open Sans Hebrew', 'Open Sans';
  font-size: 21px;
  width: 100%;
  background: #f5f4f4; }

body,
html {
  width: 100%;
  overflow-y: visible !important;
  overflow-x: hidden !important; }

body.no-scroll,
html.no-scroll {
  overflow-y: hidden !important; }

.button.border-button {
  border: 1px solid;
  padding: 5px 10px;
  text-decoration: none !important;
  outline: none !important;
  transition: 0.4s all; }
  .button.border-button.blue {
    border-color: #00b1aa;
    color: #00b1aa; }
    .button.border-button.blue:hover {
      background: #00b1aa;
      color: #fff; }
.button.simple {
  border: 0px;
  outline: none !important;
  padding: 6px 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s all; }
  .button.simple.blue {
    background: #a8ded9;
    color: #fff; }
    .button.simple.blue:hover {
      background: #00b1aa;
      color: #fff !important; }
  .button.simple.bold {
    font-weight: bold; }

.woocommerce button.button,
.woocommerce a.button,
.woocommerce button.button.alt {
  border: 0px;
  outline: none !important;
  padding: 13px 15px;
  cursor: pointer;
  background: #00b1aa;
  color: #fff !important;
  text-align: center;
  transition: 0.4s all; }
  .woocommerce button.button:disabled,
  .woocommerce a.button:disabled,
  .woocommerce button.button.alt:disabled {
    background: #a8ded9; }
  .woocommerce button.button:hover,
  .woocommerce a.button:hover,
  .woocommerce button.button.alt:hover {
    background: #007e79;
    color: #fff !important; }
  .woocommerce button.button.bold,
  .woocommerce a.button.bold,
  .woocommerce button.button.alt.bold {
    font-weight: bold; }

#header .container {
  position: relative; }
#header .logo {
  margin: 10px 0px; }
  #header .logo img {
    height: 100px; }
#header .social-links {
  padding-right: 0px;
  list-style-type: none;
  margin: 0px; }
  #header .social-links li {
    display: inline-block;
    margin-left: 15px; }
    #header .social-links li a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      background: #f0b949 center center no-repeat;
      background-size: 20px auto; }
    #header .social-links li.facebook a {
      background-image: url("../img/icons/facebook.png");
      background-size: 10px auto; }
    #header .social-links li.instagram a {
      background-image: url("../img/icons/instagram.png"); }
    #header .social-links li.whatsapp a {
      background-image: url("../img/icons/whatsapp.png"); }
    #header .social-links li.youtube a {
      background-image: url("../img/icons/youtube.png"); }
    #header .social-links li.g-plus a {
      background-image: url("../img/icons/google-plus.png");
      background-size: 25px auto; }
#header .phone {
  margin: 0px; }
  #header .phone a {
    direction: ltr;
    font-size: 170%;
    margin: 0px;
    font-weight: bold;
    color: #00b1aa;
    line-height: 1;
    text-decoration: none !important; }
    #header .phone a span {
      position: relative;
      margin-right: 18px; }
      #header .phone a span:before {
        content: ' ';
        position: absolute;
        left: -16px;
        width: 7px;
        height: 7px;
        background: #00b1aa;
        display: inline-block;
        border-radius: 50%;
        top: 50%;
        margin-top: -3px; }
      #header .phone a span:last-child {
        margin-right: 0px; }
      #header .phone a span:first-child:before {
        display: none; }
#header nav.navigation {
  background: #fc7e01;
  text-align: right;
  padding: 10px 0px;
  position: relative; }
  #header nav.navigation .container {
    padding: 0px; }
  #header nav.navigation ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
    #header nav.navigation ul li {
      display: inline-block;
      position: relative;
      padding-left: 40px; }
      #header nav.navigation ul li a {
        color: #fff;
        font-size: 90%;
        text-decoration: none; }
      #header nav.navigation ul li:after {
        content: ' ';
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        top: 50%;
        left: 15px;
        margin-top: -2.5px; }
      #header nav.navigation ul li:last-child {
        padding-left: 0px; }
        #header nav.navigation ul li:last-child:after {
          display: none; }
  #header nav.navigation .account-links {
    float: right;
    margin-right: 15px;
    margin-left: 15px; }
    #header nav.navigation .account-links .user, #header nav.navigation .account-links .cart {
      padding-right: 30px;
      position: relative;
      height: 24px; }
      #header nav.navigation .account-links .user i, #header nav.navigation .account-links .cart i {
        width: 30px;
        height: 30px;
        position: absolute;
        background: url("../img/icons/user.png") no-repeat right center;
        top: 0px;
        right: 0px; }
      #header nav.navigation .account-links .user.cart i, #header nav.navigation .account-links .cart.cart i {
        background-image: url("../img/icons/cart.png");
        width: 37px;
        height: 36px;
        top: -2px;
        background-size: 100%; }
      #header nav.navigation .account-links .user .count, #header nav.navigation .account-links .cart .count {
        position: absolute;
        top: -5px;
        right: -13px;
        background: #00b1aa;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 75%;
        display: flex;
        align-items: center;
        justify-content: center; }
    #header nav.navigation .account-links li {
      padding-left: 20px; }
      #header nav.navigation .account-links li:after {
        display: none; }
  #header nav.navigation form {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%); }
    #header nav.navigation form button {
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      background: url("../img/search.png") no-repeat;
      background-size: cover;
      cursor: pointer;
      outline: none !important;
      border: none !important; }
    #header nav.navigation form input {
      background: #fff;
      border: none;
      font-size: 72%;
      padding: 6px 7px;
      outline: none !important;
      width: 230px;
      border-radius: 3px; }
#header #toggle-nav {
  border: 0px;
  outline: none;
  position: absolute;
  width: 30px;
  top: 17px;
  display: none;
  z-index: 17; }
  #header #toggle-nav .bar {
    width: 30px;
    height: 2px;
    border-radius: 11px;
    background: #00b1aa;
    display: block;
    margin: 8px auto;
    position: absolute;
    left: 0px;
    transition: .2s all; }
  #header #toggle-nav .bar:nth-child(1) {
    top: 0px; }
  #header #toggle-nav .bar:nth-child(2) {
    top: 10px; }
  #header #toggle-nav .bar:nth-child(3) {
    top: 20px;
    transition: none; }
#header #mobile-cart {
  position: absolute;
  top: 14px;
  right: 65px;
  display: none; }
  #header #mobile-cart span {
    position: absolute;
    top: -2px;
    right: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    color: #00b1aa; }
#header .mobile-navigation {
  position: fixed;
  top: 70px;
  right: 0px;
  width: 240px;
  height: calc(100vh - 70px);
  background: #000;
  border-left: 1px solid #dedede3d;
  display: none;
  transform: translateX(240px);
  overflow-y: scroll;
  transition: 0.4s all; }
  #header .mobile-navigation form {
    position: relative; }
    #header .mobile-navigation form input {
      font-size: 80%;
      width: 100%;
      border: none;
      outline: none;
      padding: 9px 9px; }
    #header .mobile-navigation form button {
      position: absolute;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      background: url("../img/search.png") no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
      outline: none !important;
      border: none !important;
      padding: 0; }
  #header .mobile-navigation ul {
    padding-right: 0px;
    text-align: right;
    float: right; }
    #header .mobile-navigation ul li {
      width: 100%;
      margin: 0px;
      float: right; }
      #header .mobile-navigation ul li a {
        width: 100%;
        display: inline-block;
        color: #fff;
        font-weight: 100;
        padding: 10px 15px;
        margin: 0px;
        text-transform: none !important;
        font-size: 80%;
        text-decoration: none !important; }
        #header .mobile-navigation ul li a:after {
          display: none; }
      #header .mobile-navigation ul li.dropdown > a {
        background: url("../img/icons/arrow-down.png") no-repeat;
        background-size: 16px;
        background-position: 15px center; }
      #header .mobile-navigation ul li.dropdown.open > a {
        background-image: url("../img/icons/arrow-up.png"); }
      #header .mobile-navigation ul li ul {
        padding-right: 23px;
        position: relative;
        float: right;
        display: none; }
        #header .mobile-navigation ul li ul:before {
          content: ' ';
          position: absolute;
          right: 17px;
          top: 0px;
          width: 2px;
          height: 100%;
          background: rgba(255, 255, 255, 0.09); }
    #header .mobile-navigation ul li:first-child a {
      margin-top: 0px; }

@media (max-width: 1500px) {
  #header nav.navigation ul li a {
    font-size: 80%; }

  #header nav.navigation .account-links .user.cart i, #header nav.navigation .account-links .cart.cart i {
    width: 30px;
    height: 29px;
    top: 2px; }

  #header nav.navigation .account-links .cart .count {
    top: -1px;
    right: -12px;
    width: 20px;
    height: 20px; }

  #header nav.navigation form input {
    width: 200px; } }
@media (max-width: 1328px) {
  #responsiveContainer {
    width: 100%;
    overflow-x: hidden;
    transition: 0.4s all;
    transform: translateX(0px);
    position: relative; }
    #responsiveContainer:after {
      content: ' ';
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 21521125;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      transition: 0.4s all;
      visibility: hidden;
      opacity: 0; }

  #header {
    background: #d0dfd2;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 60000; }
    #header .container {
      max-width: 100%;
      padding: 0px 15px !important; }
    #header .logo {
      margin: 5px 10px; }
      #header .logo img {
        height: 60px; }
    #header nav.navigation,
    #header .social-links,
    #header .phone {
      display: none; }
    #header #toggle-nav,
    #header #mobile-cart {
      display: block; }
    #header .mobile-navigation {
      display: block; }

  body {
    padding-top: 70px; }

  body.nav-open #header .mobile-navigation {
    transform: translateX(0px); }
  body.nav-open #responsiveContainer {
    transform: translateX(-240px);
    width: 100%; }
    body.nav-open #responsiveContainer:after {
      opacity: 1;
      visibility: visible; }
  body.nav-open #header #toggle-nav .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 10px; }
  body.nav-open #header #toggle-nav .bar:nth-child(2) {
    transform: rotate(-45deg);
    top: 10px;
    right: 0; }
  body.nav-open #header #toggle-nav .bar:nth-child(3) {
    display: none; } }
.section-title {
  width: 100%;
  text-align: center;
  color: #00b1aa;
  margin: 30px 0px;
  position: relative;
  font-weight: 400; }
  .section-title span {
    position: relative;
    background: #f5f4f4;
    z-index: 1;
    padding: 0px 15px; }
  .section-title:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 0px;
    width: 100%;
    height: 1px;
    margin-top: 1px;
    z-index: 0;
    background: #00b1aa; }

.carousel-pagination {
  width: 100%;
  display: block;
  text-align: center; }
  .carousel-pagination a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #8ed8d5;
    margin: 0px 1px;
    border-radius: 50%; }
    .carousel-pagination a.active {
      background: #00b1aa; }

#page {
  margin: 0px 0px 30px; }
  #page .section-title {
    font-size: 150%; }

body.loading:after {
  content: ' ';
  position: fixed;
  top: 0px;
  right: 0px;
  background: rgba(39, 39, 39, 0.6);
  width: 100%;
  height: 100%;
  z-index: 5000000; }
body.loading:before {
  content: ' ';
  position: fixed;
  top: 50%;
  right: 50%;
  width: 80px;
  height: 80px;
  transform: translate(50%, -50%);
  background: url("../img/loading.gif") no-repeat;
  background-size: 100%;
  z-index: 5000001; }

#paginiation {
  width: 100%;
  text-align: center;
  margin: 20px 0px; }
  #paginiation a,
  #paginiation span {
    display: inline-block;
    background: #00b1aa;
    color: #fff;
    border-radius: 4px;
    font-size: 90%;
    padding: 5px 14px;
    text-decoration: none !important; }
  #paginiation a:hover {
    background: #009892; }
  #paginiation span {
    background: #fc7e01; }

@media (max-width: 768px) {
  .section-title {
    font-size: 130%; } }
@media (max-width: 575px) {
  .container {
    padding: 0px 30px; } }
.categories {
  padding-bottom: 40px; }
  .categories .container {
    position: relative; }
  .categories .category-wrapper {
    padding: 5px; }
    .categories .category-wrapper:first-child {
      padding-right: 0px; }
    .categories .category-wrapper:last-child {
      padding-left: 0px; }
  .categories #categories-carousel {
    width: calc(100% + 30px);
    margin-right: -15px; }
  .categories .categories-carousel {
    position: relative; }
    .categories .categories-carousel .arrows a {
      position: absolute;
      top: 50%;
      right: -75px;
      background: #fc7e01 url("../img/icons/arrow-right.png") no-repeat center center;
      background-size: auto 25px;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .categories .categories-carousel .arrows a.left {
        left: -75px;
        right: auto;
        background-image: url("../img/icons/arrow-left.png"); }
  .categories .category {
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none !important;
    overflow: hidden;
    z-index: 5215125125125; }
    .categories .category .category-thumbnail {
      width: 100%;
      height: 250px;
      object-fit: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      transition: 0.2s all; }
    .categories .category .category-title {
      position: relative;
      z-index: 1;
      background: rgba(255, 255, 255, 0.8);
      color: #00b1aa;
      padding: 10px 15px;
      font-weight: bold;
      font-size: 80%;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
      margin-bottom: 0px;
      width: 100%;
      text-align: center; }
    .categories .category:hover .category-thumbnail,
    .categories .category:hover .category-title {
      transform: scale(1.2); }
  .categories .carousel-indicators {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    bottom: -40px; }
    .categories .carousel-indicators li {
      background: #8ed8d5;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      padding: 0px;
      margin: 0px;
      cursor: pointer; }
      .categories .carousel-indicators li.active {
        background: #00b1aa; }
  .categories .carousel-control-next,
  .categories .carousel-control-prev {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -10px; }
    .categories .carousel-control-next .sr-only,
    .categories .carousel-control-prev .sr-only {
      display: none !important; }
    .categories .carousel-control-next.carousel-control-next,
    .categories .carousel-control-prev.carousel-control-next {
      left: -70px;
      right: auto; }
    .categories .carousel-control-next.carousel-control-prev,
    .categories .carousel-control-prev.carousel-control-prev {
      right: -70px;
      left: auto; }
    .categories .carousel-control-next span,
    .categories .carousel-control-prev span {
      background: #fc7e01 url("../img/icons/arrow-left.png") no-repeat center center;
      width: 100%;
      height: 100%;
      background-size: auto 25px;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
      .categories .carousel-control-next span.carousel-control-prev-icon,
      .categories .carousel-control-prev span.carousel-control-prev-icon {
        background-image: url("../img/icons/arrow-right.png"); }

@media (max-width: 575px) {
  .categories .category {
    display: block;
    height: auto;
    margin-bottom: 5px; }
    .categories .category .category-thumbnail {
      position: static;
      height: auto; }

  #categories-carousel .carousel-control-next {
    left: 0;
    bottom: auto;
    top: auto;
    transform: translateY(50%);
    z-index: 99999; }
  #categories-carousel .carousel-control-prev {
    right: 0;
    bottom: auto;
    top: auto;
    transform: translateY(50%);
    z-index: 99999; } }
.how-it-works .step {
  text-align: center;
  max-width: 200px;
  display: inline-block; }
  .how-it-works .step img {
    height: 150px;
    margin-bottom: 20px; }
  .how-it-works .step .step-title {
    font-size: 85%;
    font-weight: bold;
    color: #00b1aa; }
  .how-it-works .step .step-desc {
    color: #999999;
    font-size: 70%; }
.how-it-works .materials {
  margin-top: 30px; }
  .how-it-works .materials ul {
    padding-right: 0px;
    list-style-type: none; }
    .how-it-works .materials ul li {
      text-align: center;
      max-width: 50%; }
      .how-it-works .materials ul li .material {
        width: 100%;
        height: 100%;
        max-width: 150px;
        display: inline-block;
        position: relative; }
        .how-it-works .materials ul li .material img {
          width: 100%;
          transition: 0.2s all; }
        .how-it-works .materials ul li .material .title {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -90%);
          color: #767676;
          font-weight: bold;
          font-size: 90%;
          line-height: 1;
          padding: 0px;
          margin: 0px;
          transition: 0.2s all; }

#page .how-it-works {
  margin: 40px 0px; }
  #page .how-it-works .section-title {
    display: none; }

@media (max-width: 767px) {
  .how-it-works .steps > .col-md-4 {
    text-align: center !important; }
    .how-it-works .steps > .col-md-4:last-child {
      max-width: 100%;
      width: 100%;
      flex: 0 0 100%; } }
#gallery.single {
  margin-bottom: 10px; }
  #gallery.single .section-title {
    font-size: 150%; }
#gallery .gallery-row {
  margin: 0px -5px; }
  #gallery .gallery-row .col-md-4 {
    padding: 0px 5px;
    margin-top: 10px; }
  #gallery .gallery-row img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #gallery .gallery-row:first-child {
    margin-top: 0px; }
#gallery .show-more {
  width: 100%;
  text-align: center;
  margin: 40px 0px; }

#videos {
  background: #d0dfd2;
  width: 100%;
  float: right;
  margin-bottom: 30px; }
  #videos .section-title {
    margin: 40px 0px; }
    #videos .section-title span {
      background: #d0dfd2; }
  #videos.single {
    background: none; }
    #videos.single .section-title {
      font-size: 150%;
      margin: 30px 0px; }
      #videos.single .section-title span {
        background: #f5f4f4; }
    #videos.single .videos-row {
      margin: 0px -30px; }
  #videos .videos-row {
    margin: 0px -20px; }
  #videos .col-md-6 {
    padding: 0 7.5px; }
  #videos .video {
    position: relative;
    width: 100%;
    height: 200px;
    display: block;
    overflow: hidden; }
    #videos .video img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s all; }
    #videos .video:after {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 50%;
      width: 110px;
      height: 110px;
      background: url("../img/video-play.png") no-repeat;
      background-size: 100%;
      transform: translate(50%, -65%);
      opacity: 1;
      transition: 0.2s all; }
    #videos .video .video-info {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 0px;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      color: #767676;
      font-weight: bold;
      padding: 5px 8px;
      font-size: 90%; }
    #videos .video.large {
      height: 100%;
      margin-top: 0px !important; }
    #videos .video.medium {
      height: 220px;
      margin-bottom: 15px; }
    #videos .video:last-child {
      margin-top: 15px; }
    #videos .video:hover img {
      transform: scale(1.2); }
    #videos .video:hover:after {
      opacity: 0.5; }
  #videos .show-more {
    width: 100%;
    text-align: center;
    margin: 40px 0px;
    display: block; }

#video-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 515125125;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.4s all; }
  #video-wrapper.open {
    visibility: visible;
    opacity: 1;
    display: block; }
  #video-wrapper .video-inner {
    width: 95%;
    height: 95%;
    max-width: 500px;
    max-height: 400px;
    margin-top: 50vh;
    margin-left: 50vw;
    float: left;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 22px #000; }
    #video-wrapper .video-inner .close-video {
      position: absolute;
      top: -10px;
      right: -10px;
      background: #fff;
      width: 40px;
      height: 40px;
      border-bottom-left-radius: 4px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none !important;
      font-size: 120%;
      font-weight: bold;
      color: #000; }
    #video-wrapper .video-inner iframe {
      width: 100%;
      height: 100%; }

@media (max-width: 767px) {
  #videos .video.large {
    height: 200px;
    margin-top: 15px !important; } }
#customers {
  float: right;
  width: 100%;
  position: relative;
  padding-bottom: 90px; }
  #customers .section-title {
    margin: 50px 0px; }
  #customers .customers-row {
    margin: 20px 0px 0px;
    align-items: center; }
    #customers .customers-row:first-child {
      margin-top: 0px; }
    #customers .customers-row img {
      width: calc(100% / 11); }
  #customers .carousel {
    width: calc(100% + 30px);
    margin-right: -15px; }
  #customers .carousel-indicators {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    bottom: -60px; }
    #customers .carousel-indicators li {
      background: #8ed8d5;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      padding: 0px;
      margin: 0px;
      cursor: pointer; }
      #customers .carousel-indicators li.active {
        background: #00b1aa; }
  #customers .carousel-control-next,
  #customers .carousel-control-prev {
    width: 20px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -10px; }
    #customers .carousel-control-next .sr-only,
    #customers .carousel-control-prev .sr-only {
      display: none !important; }
    #customers .carousel-control-next.carousel-control-next,
    #customers .carousel-control-prev.carousel-control-next {
      left: -70px;
      right: auto; }
    #customers .carousel-control-next.carousel-control-prev,
    #customers .carousel-control-prev.carousel-control-prev {
      right: -70px;
      left: auto; }
    #customers .carousel-control-next span,
    #customers .carousel-control-prev span {
      background-image: url("../img/arrow-left-blue.png");
      width: 100%;
      height: 100%; }
      #customers .carousel-control-next span.carousel-control-prev-icon,
      #customers .carousel-control-prev span.carousel-control-prev-icon {
        background: url("../img/arrow-right-blue.png") no-repeat; }

@media (max-width: 768px) {
  #customers .customers-row img {
    width: calc(100% / 5); } }
@media (max-width: 575px) {
  #customers .customers-row img {
    width: calc(100% / 3.5); } }
#contact {
  width: 100%;
  background: #4daea9;
  float: right;
  padding-bottom: 15px; }
  #contact.single {
    padding: 30px 0px 70px; }
  #contact div.wpcf7-validation-errors,
  #contact div.wpcf7-mail-sent-ok {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    border: none;
    background: #dbefee;
    padding: 6px 7px;
    font-size: 90%;
    font-weight: bold;
    color: #f57e20; }
  #contact div.wpcf7-mail-sent-ok {
    color: #4daea9; }
  #contact .form-wrapper {
    width: calc(100% - 30px);
    max-width: 650px;
    display: block;
    margin: 0 auto; }
    #contact .form-wrapper .wpcf7-form-control-wrap {
      display: block; }
      #contact .form-wrapper .wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
        color: #fc7e01;
        position: absolute;
        bottom: 17px;
        display: inline;
        left: 60px;
        font-size: 80%;
        font-weight: bold; }
    #contact .form-wrapper .fields {
      position: relative; }
    #contact .form-wrapper .row {
      margin: 0px; }
    #contact .form-wrapper .section-title {
      color: #fff; }
      #contact .form-wrapper .section-title span {
        background: #4daea9; }
      #contact .form-wrapper .section-title:after {
        background: #fff; }
    #contact .form-wrapper input,
    #contact .form-wrapper textarea {
      background: #dbefee;
      border: none;
      width: calc(100% - 50px);
      margin-bottom: 10px;
      padding: 5px 5px;
      outline: none !important; }
      #contact .form-wrapper input::-webkit-input-placeholder,
      #contact .form-wrapper textarea::-webkit-input-placeholder {
        color: black; }
      #contact .form-wrapper input::-moz-placeholder,
      #contact .form-wrapper textarea::-moz-placeholder {
        color: black; }
      #contact .form-wrapper input:-ms-input-placeholder,
      #contact .form-wrapper textarea:-ms-input-placeholder {
        color: black; }
      #contact .form-wrapper input:-moz-placeholder,
      #contact .form-wrapper textarea:-moz-placeholder {
        color: black; }
    #contact .form-wrapper textarea {
      height: 140px;
      resize: none;
      margin-bottom: 0px; }
    #contact .form-wrapper button {
      width: 40px;
      background: #dbefee url(../img/arrow-left-blue.png) no-repeat center 53%;
      background-size: 8px auto;
      outline: none;
      border: none;
      height: calc(100% - 8px);
      position: absolute;
      top: 0px;
      left: 0px;
      cursor: pointer;
      opacity: 1;
      transition: 0.4s opacity;
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 27px;
      color: #4daea9; }
      #contact .form-wrapper button:hover {
        opacity: 0.7; }

#product {
  margin-bottom: 50px; }
  #product .product-row {
    margin: 0px -7.5px; }
    #product .product-row > div {
      padding: 0px 7.5px; }
  #product .section-title {
    font-size: 150%; }
  #product .block-title {
    background: #95d8d2;
    color: #767676;
    font-weight: bold;
    font-size: 100%;
    padding: 15px;
    width: 100%;
    float: right; }
  #product .gallery {
    margin-bottom: 15px; }
    #product .gallery .block-title {
      padding: 10px 15px; }
      #product .gallery .block-title .product-name {
        display: inline;
        font-size: 100%;
        font-weight: bold; }
      #product .gallery .block-title span {
        font-weight: normal;
        font-size: 75%; }
      #product .gallery .block-title .manufactor:after,
      #product .gallery .block-title .product-name:after {
        content: '|';
        display: inline-block;
        padding: 0px 5px 0px 0px; }
    #product .gallery .large-image {
      width: 100%;
      background: #fff;
      padding: 20px;
      display: inline-block;
      position: relative;
      text-align: center; }
      #product .gallery .large-image.loaded img {
        opacity: 0; }
      #product .gallery .large-image img {
        max-width: 100%;
        max-height: 500px; }
      #product .gallery .large-image .canvas-wrapper {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%; }
        #product .gallery .large-image .canvas-wrapper .canvas-layer {
          /*
          border: 2px solid #fc7e01;
          */
          overflow: hidden;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px; }
    #product .gallery .gallery-images {
      margin: 15px -7.5px; }
      #product .gallery .gallery-images .col-lg-4 {
        padding: 0px 7.5px; }
      #product .gallery .gallery-images .image {
        width: 100%;
        height: 150px;
        background: #fff;
        padding: 10px; }
        #product .gallery .gallery-images .image img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer; }
  #product .layer-related {
    display: none; }
  #product.layer-0 .layer-0-related {
    display: block; }
  #product .description {
    float: right;
    width: 100%;
    margin-top: 1px; }
    #product .description.mobile-description {
      display: none;
      margin-top: 20px; }
    #product .description .block-title {
      position: relative; }
    #product .description .content {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
      display: inline-block;
      margin-top: -10px;
      padding: 15px;
      color: #999999;
      font-size: 90%;
      width: 100%; }
      #product .description .content p:last-child {
        margin: 0px; }
  #product .order-step {
    margin-top: 20px;
    float: right;
    width: 100%; }
    #product .order-step:first-child {
      margin-top: 0px; }
    #product .order-step .block-title.step {
      position: relative;
      padding-right: 50px; }
      #product .order-step .block-title.step:after {
        content: attr(data-step);
        position: absolute;
        top: 50%;
        right: 15px;
        width: 25px;
        height: 25px;
        background: #767676;
        color: #95d8d2;
        font-weight: bold;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        transform: translateY(-50%); }
    #product .order-step .step-box-content {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
      display: block;
      margin-top: -10px;
      padding: 15px;
      float: right;
      color: #999999;
      width: 100%;
      font-size: 85%; }
  #product .image-upload .settings {
    width: calc(100% - 200px);
    padding-left: 5px;
    float: right; }
    #product .image-upload .settings .stauration-container {
      width: calc( 100% - 40px);
      height: 54px;
      float: left;
      position: relative;
      margin-left: 22px; }
      #product .image-upload .settings .stauration-container .control {
        position: absolute;
        right: 45px;
        bottom: 4px;
        color: #95d8d2;
        font-size: 110%;
        padding: 0px;
        line-height: 1;
        background: none;
        border: none;
        outline: none !important;
        cursor: pointer; }
        #product .image-upload .settings .stauration-container .control:hover {
          color: #1fa599; }
        #product .image-upload .settings .stauration-container .control.minus {
          right: auto;
          left: -13px; }
      #product .image-upload .settings .stauration-container input[type=number] {
        position: absolute;
        top: 2px;
        right: -20px;
        width: 46px;
        text-align: center;
        border: 1px solid #95d8d2;
        font-size: 89%;
        padding: 3px;
        margin: 0;
        outline: none; }
        #product .image-upload .settings .stauration-container input[type=number]::-webkit-inner-spin-button, #product .image-upload .settings .stauration-container input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
      #product .image-upload .settings .stauration-container .slider {
        width: calc(100% - 60px);
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        background: #95d8d2;
        height: 5px;
        outline: none !important;
        position: relative;
        direction: ltr;
        margin-right: 60px; }
        #product .image-upload .settings .stauration-container .slider:before, #product .image-upload .settings .stauration-container .slider:after {
          content: ' ';
          position: absolute;
          top: -11px;
          right: -23px;
          background: url("../img/icons/sun.png") no-repeat;
          width: 28px;
          height: 28px; }
        #product .image-upload .settings .stauration-container .slider:after {
          background-image: url("../img/icons/moon.png");
          right: auto;
          left: -23px; }
        #product .image-upload .settings .stauration-container .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          /* Override default look */
          appearance: none;
          width: 25px;
          /* Set a specific slider handle width */
          height: 13px;
          /* Slider handle height */
          background: #00b1aa;
          /* Green background */
          cursor: pointer;
          /* Cursor on hover */
          border-radius: 10px;
          z-index: 5;
          position: relative; }
        #product .image-upload .settings .stauration-container .slider::-moz-range-thumb {
          -webkit-appearance: none;
          /* Override default look */
          appearance: none;
          width: 25px;
          /* Set a specific slider handle width */
          height: 13px;
          /* Slider handle height */
          background: #00b1aa;
          /* Green background */
          cursor: pointer;
          /* Cursor on hover */
          border-radius: 10px;
          z-index: 5;
          position: relative; }
    #product .image-upload .settings .inputs {
      width: 300px;
      margin-left: 10px;
      float: left; }
      #product .image-upload .settings .inputs .button {
        width: 100%; }
      #product .image-upload .settings .inputs .file {
        width: 100%;
        position: relative;
        margin-top: 10px;
        cursor: pointer; }
        #product .image-upload .settings .inputs .file input {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer; }
        #product .image-upload .settings .inputs .file .button {
          display: block;
          color: #000; }
        #product .image-upload .settings .inputs .file:hover .button {
          background: #00b1aa;
          color: #fff;
          cursor: pointer; }
  #product .image-upload .preview {
    float: right;
    width: 200px;
    height: 184px; }
    #product .image-upload .preview img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #product .image-upload.empty .settings {
    width: 100%;
    padding-left: 0px; }
    #product .image-upload.empty .settings .inputs {
      margin-left: 0px; }
      #product .image-upload.empty .settings .inputs .stauration-container,
      #product .image-upload.empty .settings .inputs button {
        display: none; }
  #product .image-upload.empty .preview {
    display: none; }
  #product .sticker-picker .step-box-content {
    padding: 50px; }
  #product .sticker-picker .stickers-row {
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
    #product .sticker-picker .stickers-row li {
      float: right;
      width: calc((100% / 8) - 4.4px);
      height: 70px;
      margin-left: 5px; }
      @media (max-width: 991px) {
        #product .sticker-picker .stickers-row li {
          width: calc((100% / 4) - 5px);
          margin: 2.5px; } }
      @media (max-width: 420px) {
        #product .sticker-picker .stickers-row li {
          width: calc((100% / 2) - 5px); } }
      #product .sticker-picker .stickers-row li:last-child {
        margin-left: 0px; }
      #product .sticker-picker .stickers-row li a {
        width: 100%;
        height: 100%;
        background: #FFF;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; }
        #product .sticker-picker .stickers-row li a img {
          max-width: 100%;
          max-height: 100%; }
  #product .sticker-picker .carousel-control-next,
  #product .sticker-picker .carousel-control-prev {
    width: 15px;
    height: 31px;
    top: 50%;
    transform: translateY(-50%); }
    #product .sticker-picker .carousel-control-next .sr-only,
    #product .sticker-picker .carousel-control-prev .sr-only {
      display: none !important; }
    #product .sticker-picker .carousel-control-next.carousel-control-next,
    #product .sticker-picker .carousel-control-prev.carousel-control-next {
      left: -35px;
      right: auto; }
    #product .sticker-picker .carousel-control-next.carousel-control-prev,
    #product .sticker-picker .carousel-control-prev.carousel-control-prev {
      right: -35px;
      left: auto; }
    #product .sticker-picker .carousel-control-next span,
    #product .sticker-picker .carousel-control-prev span {
      background-image: url("../img/arrow-left-blue.png");
      width: 100%;
      height: 100%;
      background-size: 100%; }
      #product .sticker-picker .carousel-control-next span.carousel-control-prev-icon,
      #product .sticker-picker .carousel-control-prev span.carousel-control-prev-icon {
        background-image: url("../img/arrow-right-blue.png"); }
  #product .custom-text .step-box-content {
    z-index: 1;
    position: relative; }
    #product .custom-text .step-box-content label {
      float: right;
      margin-top: 0px;
      margin-bottom: 0px; }
    #product .custom-text .step-box-content .open-font-picker {
      text-align: left;
      color: #999999;
      text-decoration: none !important;
      position: absolute;
      left: 34px;
      margin-top: 30px; }
      #product .custom-text .step-box-content .open-font-picker img {
        float: left;
        width: 30px;
        margin-right: 5px;
        transition: 0.2s all; }
      #product .custom-text .step-box-content .open-font-picker:hover img {
        margin-right: 10px; }
    #product .custom-text .step-box-content .text-slot:nth-child(2) .open-font-picker {
      margin-top: 55px; }
    #product .custom-text .step-box-content button {
      float: left;
      margin-top: 5px; }
    #product .custom-text .step-box-content textarea {
      width: 100%;
      border: none;
      margin-top: 10px;
      padding: 10px;
      font-size: 85%;
      outline: none !important;
      resize: none; }
  #product .custom-text .font-picker {
    padding-right: 0px;
    list-style-type: none;
    width: 100%;
    height: 250px;
    background: #fff;
    float: right;
    position: relative;
    margin-bottom: 0px;
    z-index: 0;
    display: none;
    overflow-y: scroll; }
    #product .custom-text .font-picker.open {
      display: block; }
    #product .custom-text .font-picker::-webkit-scrollbar {
      width: 5px; }
    #product .custom-text .font-picker::-webkit-scrollbar-track {
      background-color: #c7c7c7;
      border-radius: 10px; }
    #product .custom-text .font-picker::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #9f9f9f; }
    #product .custom-text .font-picker li {
      width: 100%;
      margin: 0px; }
      #product .custom-text .font-picker li a {
        width: 100%;
        padding: 10px;
        display: block;
        font-weight: bold;
        color: #999999;
        text-decoration: none !important; }
      #product .custom-text .font-picker li.active a,
      #product .custom-text .font-picker li a:hover {
        background: #999999;
        color: #fff; }
  #product.edit-disabled .image-upload,
  #product.edit-disabled .custom-text,
  #product.edit-disabled .description {
    display: none !important; }
  #product.edit-disabled .description.mobile-description {
    display: block !important;
    margin-top: 0px; }
  #product .summary {
    float: right;
    width: 100%;
    margin-top: 20px; }
    #product .summary .price {
      width: 100%;
      text-align: left;
      background: #95d8d2;
      color: #767676;
      font-weight: bold;
      padding: 10px 15px; }
      #product .summary .price .regular-price {
        text-decoration: line-through;
        font-size: 70%; }
    #product .summary .button {
      float: left;
      margin-top: 10px;
      padding: 10px 15px;
      font-size: 90%; }

@media (max-width: 991px) {
  #product .image-upload .settings {
    width: 100%; }
    #product .image-upload .settings .inputs {
      margin-left: -5px;
      width: calc(100% + 5px); }

  #product .image-upload .preview {
    margin-top: 10px;
    width: 100%; } }
@media (max-width: 767px) {
  #product .description.desktop-description {
    display: none; }

  #product .description.mobile-description {
    display: block; } }
.woocommerce-cart-form a {
  color: #00b1aa;
  font-weight: 400;
  text-decoration: none !important; }
  .woocommerce-cart-form a:hover {
    color: #007e79; }
.woocommerce-cart-form table.cart {
  width: 100%;
  color: #767676;
  border: none;
  z-index: 1;
  position: relative;
  font-size: 90%;
  background: #f5f4f4; }
  .woocommerce-cart-form table.cart thead {
    display: table-header-group !important; }
    .woocommerce-cart-form table.cart thead tr {
      background: #95d8d2;
      display: table-row !important; }
      .woocommerce-cart-form table.cart thead tr th {
        text-align: right;
        padding: 8px 10px; }
  .woocommerce-cart-form table.cart tbody tr {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    border: none;
    position: relative;
    z-index: 1;
    display: table-row !important; }
    .woocommerce-cart-form table.cart tbody tr.bottom {
      box-shadow: none;
      position: absolute;
      bottom: -70px;
      right: -2px; }
      .woocommerce-cart-form table.cart tbody tr.bottom .button {
        border: 0px !important;
        outline: none !important;
        padding: 10px 10px !important;
        cursor: pointer !important;
        text-align: center !important;
        transition: 0.4s all !important;
        background: #00b1aa !important;
        color: #fff !important; }
        .woocommerce-cart-form table.cart tbody tr.bottom .button:not(:disabled):hover {
          background: #007e79 !important; }
    .woocommerce-cart-form table.cart tbody tr td {
      padding: 15px 15px;
      border: none;
      display: table-cell !important;
      text-align: right !important; }
      .woocommerce-cart-form table.cart tbody tr td:before {
        display: none !important; }
      .woocommerce-cart-form table.cart tbody tr td .attachment-woocommerce_thumbnail {
        width: 150px;
        margin: 0px;
        margin-left: 15px; }
  .woocommerce-cart-form table.cart .product-info {
    display: flex;
    align-items: center;
    text-align: right; }
    .woocommerce-cart-form table.cart .product-info .info > a:first-child {
      color: #767676; }

#customer_details .col-1,
#customer_details .col-2 {
  width: 100% !important;
  float: right !important;
  max-width: 100% !important;
  padding: 0px !important; }

.cart-summary {
  width: 100%;
  background: #fff;
  border: none;
  float: right;
  margin-top: -30px;
  margin-bottom: 20px;
  position: relative;
  z-index: 0; }
  .cart-summary table.shop_table {
    width: 250px !important;
    display: block;
    float: left;
    margin: 20px 10px 10px;
    border: none; }
    .cart-summary table.shop_table tr {
      display: block;
      margin-top: 10px;
      border: 1px solid #3b3838;
      font-size: 88%;
      color: #767676;
      width: 100%;
      max-width: 250px;
      float: left; }
      .cart-summary table.shop_table tr:first-child {
        margin-top: 0px; }
      .cart-summary table.shop_table tr td, .cart-summary table.shop_table tr th {
        border: none;
        padding: 5px 8px; }
      .cart-summary table.shop_table tr td {
        text-align: left;
        float: left; }
      .cart-summary table.shop_table tr th {
        text-align: right;
        float: right;
        font-weight: 400; }

#order_review .shop_table {
  display: none; }

.checkout-step {
  margin-top: 20px;
  float: right;
  width: 100%; }
  .checkout-step.step-shipping-method {
    margin-top: 0px; }
    .checkout-step.step-shipping-method .step-content {
      min-height: 143px; }
  .checkout-step .step-title {
    background: #95d8d2;
    color: #767676;
    font-weight: bold;
    font-size: 100%;
    padding: 15px;
    width: 100%;
    float: right;
    position: relative;
    padding-right: 50px; }
    .checkout-step .step-title:after {
      content: attr(data-step);
      position: absolute;
      top: 50%;
      right: 15px;
      width: 25px;
      height: 25px;
      background: #767676;
      color: #95d8d2;
      font-weight: bold;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      transform: translateY(-50%); }
  .checkout-step .step-content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    display: block;
    margin-top: -10px;
    padding: 15px;
    float: right;
    color: #999999;
    width: 100%;
    font-size: 85%; }

.checkout #ship-to-different-address {
  display: none; }
.checkout .shipping_address {
  display: block !important; }

#page .woocommerce .checkout_coupon {
  display: block !important;
  height: auto !important;
  margin: 77px 0px 0px 44px !important;
  padding: 10px !important;
  position: absolute;
  width: 100%;
  max-width: 300px;
  float: left;
  left: 0px;
  background: #4daea9;
  border-radius: 0px !important;
  border: none !important;
  text-align: center;
  font-size: 90%;
  color: #fff; }
  #page .woocommerce .checkout_coupon input {
    width: calc(100% - 100px);
    float: right;
    border: none;
    font-size: 90%;
    padding: 5px 5px;
    outline: none !important; }
  #page .woocommerce .checkout_coupon button {
    width: 100px;
    float: right;
    padding: 9px 0px;
    background: #95d8d2;
    color: #29847f;
    font-weight: 400;
    border-radius: 0%;
    font-size: 90%;
    outline: none !important;
    transition: 0.2s all; }
    #page .woocommerce .checkout_coupon button:hover {
      background: #70cac2;
      color: #fff; }

form.woocommerce-checkout .woocommerce-error {
  display: none !important; }

#page .woocommerce .woocommerce-account-fields,
#page .woocommerce .woocommerce-billing-fields__field-wrapper,
#page .woocommerce .woocommerce-shipping-fields__field-wrapper {
  width: 100%;
  max-width: 400px;
  margin-top: 5px; }
  #page .woocommerce .woocommerce-account-fields .form-row,
  #page .woocommerce .woocommerce-billing-fields__field-wrapper .form-row,
  #page .woocommerce .woocommerce-shipping-fields__field-wrapper .form-row {
    width: 100% !important; }
  #page .woocommerce .woocommerce-account-fields input,
  #page .woocommerce .woocommerce-billing-fields__field-wrapper input,
  #page .woocommerce .woocommerce-shipping-fields__field-wrapper input {
    background: #fff;
    border: none;
    padding: 7px 8px;
    font-size: 90%; }
  #page .woocommerce .woocommerce-account-fields .woocommerce-invalid input,
  #page .woocommerce .woocommerce-billing-fields__field-wrapper .woocommerce-invalid input,
  #page .woocommerce .woocommerce-shipping-fields__field-wrapper .woocommerce-invalid input {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.71); }
  #page .woocommerce .woocommerce-account-fields .select2-container--default .select2-selection--single,
  #page .woocommerce .woocommerce-billing-fields__field-wrapper .select2-container--default .select2-selection--single,
  #page .woocommerce .woocommerce-shipping-fields__field-wrapper .select2-container--default .select2-selection--single {
    border: none;
    border-radius: 0px;
    height: auto;
    padding: 4px 0px;
    outline: none !important;
    font-size: 90%;
    margin-bottom: 0px; }
    #page .woocommerce .woocommerce-account-fields .select2-container--default .select2-selection--single .select2-selection__arrow b,
    #page .woocommerce .woocommerce-billing-fields__field-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b,
    #page .woocommerce .woocommerce-shipping-fields__field-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
      margin-left: 0px;
      margin-top: 2px; }

body.woocommerce-checkout .woocommerce-error {
  margin-bottom: 15px; }
body.woocommerce-checkout .form-row.place-order {
  padding: 15px 0px; }

.select2-dropdown * {
  font-size: 90%; }

@media (max-width: 767px) {
  .woocommerce-cart-form table.cart .product-price,
  .woocommerce-cart-form table.cart .product-subtotal,
  .woocommerce-cart-form table.cart .product-remove {
    display: none !important; }

  .woocommerce-cart-form table.cart tbody tr td .attachment-woocommerce_thumbnail {
    display: block !important;
    width: 50px;
    margin-left: 40px; }

  .woocommerce-cart-form table.cart tbody tr.bottom {
    width: calc(100% + 2px); }
    .woocommerce-cart-form table.cart tbody tr.bottom .actions {
      width: 100%;
      display: block !important;
      background: none !important; }
      .woocommerce-cart-form table.cart tbody tr.bottom .actions .button {
        border-radius: 0px !important; }

  .cart-summary {
    padding-top: 50px;
    margin-top: -78px; }

  .cart-summary table.shop_table,
  .cart-summary table.shop_table tr {
    width: 100% !important;
    max-width: 100%; }

  .cart-summary table.shop_table {
    margin: 20px 0px 10px 15px;
    max-width: calc(100% - 30px); }
    .cart-summary table.shop_table tfoot {
      display: block; }

  .checkout-step.step-shipping-method .step-content {
    min-height: 0px;
    padding-top: 115px; }

  #page .woocommerce .checkout_coupon {
    max-width: none;
    width: calc(100% - 63px);
    margin: 71px 0px 0px 31px !important; }
    #page .woocommerce .checkout_coupon label {
      font-size: 80%;
      margin-top: -2px;
      display: block; } }
.products-row {
  margin: 0px -30px 0px; }
  .products-row:nth-child(2) {
    margin: -30px -30px 0px; }
  .products-row .product {
    text-decoration: none;
    position: relative;
    padding-bottom: 90px;
    margin-top: 30px; }
    .products-row .product.labeled-custom:after {
      content: '';
      position: absolute;
      top: -6.4px;
      left: 9px;
      width: 150px;
      height: 150px;
      background: url(../img/custom-design-tile.png) no-repeat;
      background-size: 100% auto; }
    .products-row .product .img {
      width: 100%;
      float: right;
      text-align: center;
      background-size: 100%;
      background-color: #ffffff; }
    .products-row .product .img img {
      width: auto;
      height: 300px; }
    .products-row .product .inner {
      width: calc(100% - 30px);
      padding: 18.5px 0px;
      float: right;
      background: #fafafa;
      border: 1px solid #f3f3f3;
      position: absolute;
      bottom: 0px;
      right: 15px;
      transition: 0.4s all;
      margin-bottom: 0px; }
    .products-row .product .inner.no-price .price {
      height: 51px; }
    .products-row .product:hover .inner {
      background: #fff;
      padding: 23.5px 0px; }
    .products-row .product .inner span.title {
      color: #00b1aa;
      font-size: 14px;
      font-weight: bold;
      float: right;
      margin-right: 11px; }
    .products-row .product .inner .cat {
      max-width: 150px;
      position: absolute;
      bottom: 17px;
      right: 11px;
      transition: 0.4s bottom;
      font-size: 15px;
      color: #666666;
      line-height: 13px; }
    .products-row .product:hover .inner .cat {
      bottom: 22px; }
    .products-row .product .inner .title {
      margin-top: 0px;
      max-width: 150px;
      padding-bottom: 30px;
      line-height: 16px; }
    .products-row .product .inner span.price {
      float: left;
      color: #fc7e01;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      margin-left: 12px; }
    .products-row .product .inner span.price {
      position: absolute;
      top: 50%;
      left: 0px;
      margin-top: -25.5px; }
    .products-row .product .inner span.price b {
      font-size: 22px;
      display: block; }
    .products-row .product:before {
      content: ' ';
      position: absolute;
      top: 0px;
      right: 15px;
      width: calc(100% - 30px);
      height: 100%;
      box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.12);
      opacity: 0;
      transition: 0.4s opacity; }
    .products-row .product:hover:before {
      opacity: 1; }

#loading {
  width: 100%;
  float: right;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 54px;
  display: none; }

#loading img {
  height: 60px;
  -webkit-animation: ld-flip 2s infinite;
  animation: ld-flip 2s infinite;
  animation-delay: 0s;
  animation-play-state: running;
  animation-duration: 2.9s; }

@keyframes ld-flip {
  0%, 25%, 50%, 75%, 100% {
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1); }
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); }
  25% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
    transform: rotateY(180deg) rotateX(0deg); }
  50% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg); }
  75% {
    -webkit-transform: rotateY(0deg) rotateX(180deg);
    transform: rotateY(0deg) rotateX(180deg); }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg); } }
.woocommerce-info {
  background: #d0dfd2;
  color: #767676;
  padding: 13px 40px 13px 15px;
  border: 0px;
  font-size: 80%; }
  .woocommerce-info a {
    font-weight: bold;
    color: #00b1aa;
    text-decoration: none !important; }
  .woocommerce-info:before {
    content: '!';
    width: 20px;
    height: 20px;
    background: #767676;
    color: #d0dfd2;
    border-radius: 50%;
    right: 15px;
    top: 14px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 0;
    padding-top: 8px; }

.woocommerce-error {
  background: #bb4248;
  border: none;
  color: #ffff;
  font-size: 90%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 43px; }
  .woocommerce-error:before {
    color: #ffffff;
    top: 10px;
    right: 15px; }

body.woocommerce-account #page .section-title {
  margin: 40px 0px; }
body.woocommerce-account #page .page-content {
  width: calc(100% + 30px);
  margin-right: -15px; }

#customer_login .col-1,
#customer_login .col-2 {
  max-width: none;
  flex: none;
  padding: 0px; }
  #customer_login .col-1 > h2,
  #customer_login .col-2 > h2 {
    background: #95d8d2;
    color: #767676;
    font-weight: bold;
    font-size: 110%;
    padding: 15px;
    width: 100%;
    float: right;
    position: relative;
    z-index: 1; }
  #customer_login .col-1 form,
  #customer_login .col-2 form {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    display: block;
    margin: -10px 0px 20px;
    padding: 15px;
    float: right;
    color: #999999;
    width: 100%;
    border: none;
    border-radius: 0px; }
    #customer_login .col-1 form .form-row:nth-child(3),
    #customer_login .col-2 form .form-row:nth-child(3) {
      margin-bottom: 0px;
      margin-top: 10px; }
      #customer_login .col-1 form .form-row:nth-child(3) label.inline,
      #customer_login .col-2 form .form-row:nth-child(3) label.inline {
        margin-bottom: 0px;
        margin-right: 10px;
        margin-top: 5px; }
    #customer_login .col-1 form .lost_password,
    #customer_login .col-2 form .lost_password {
      float: left;
      margin: 0px;
      position: relative;
      margin-top: -34px;
      margin-bottom: 0px; }
      #customer_login .col-1 form .lost_password a,
      #customer_login .col-2 form .lost_password a {
        font-weight: bold;
        color: #00b1aa;
        text-decoration: none !important; }
        #customer_login .col-1 form .lost_password a:hover,
        #customer_login .col-2 form .lost_password a:hover {
          color: #009892; }

.woocommerce-account .woocommerce {
  font-size: 90%; }
  .woocommerce-account .woocommerce .woocommerce-info .button {
    display: none; }
  .woocommerce-account .woocommerce .my-account-title {
    background: #95d8d2;
    color: #767676;
    font-weight: bold;
    font-size: 110%;
    padding: 15px;
    width: 100%;
    float: right;
    position: relative;
    z-index: 1; }
  .woocommerce-account .woocommerce .my-account-inner {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    display: block;
    margin: -10px 0px 20px;
    padding: 15px;
    float: right;
    color: #999999;
    width: 100%;
    border: none;
    border-radius: 0px; }
    .woocommerce-account .woocommerce .my-account-inner .woocommerce-order-details__title {
      font-size: 120%;
      font-weight: 600;
      color: #00b1aa; }
    .woocommerce-account .woocommerce .my-account-inner .woocommerce-orders-table {
      margin: 0px;
      border-radius: 0px; }
      .woocommerce-account .woocommerce .my-account-inner .woocommerce-orders-table .button {
        margin-top: 0px;
        margin-bottom: 0px; }
      .woocommerce-account .woocommerce .my-account-inner .woocommerce-orders-table thead tr th {
        text-align: right; }
      .woocommerce-account .woocommerce .my-account-inner .woocommerce-orders-table tbody tr td {
        padding: 9px 10px 6px; }
    .woocommerce-account .woocommerce .my-account-inner .form-row-first,
    .woocommerce-account .woocommerce .my-account-inner .form-row-last {
      width: 49%; }
    .woocommerce-account .woocommerce .my-account-inner .edit-account legend {
      float: right;
      width: 100%;
      margin-top: 10px; }
    .woocommerce-account .woocommerce .my-account-inner .button {
      margin-top: 10px; }
    .woocommerce-account .woocommerce .my-account-inner legend,
    .woocommerce-account .woocommerce .my-account-inner h3 {
      color: #00b1aa;
      font-weight: 600;
      font-size: 120%; }
    .woocommerce-account .woocommerce .my-account-inner a {
      color: #00b1aa;
      text-decoration: none !important; }
      .woocommerce-account .woocommerce .my-account-inner a:hover {
        color: #007e79; }
    .woocommerce-account .woocommerce .my-account-inner p:last-child {
      margin-bottom: 0px; }
    .woocommerce-account .woocommerce .my-account-inner .woocommerce-info {
      margin-bottom: 0px; }
    .woocommerce-account .woocommerce .my-account-inner .woocommerce-Address {
      width: 100%;
      max-width: 100%;
      flex: none;
      border-bottom: 1px solid rgba(149, 216, 210, 0.74);
      margin-bottom: 20px; }
      .woocommerce-account .woocommerce .my-account-inner .woocommerce-Address:first-child {
        padding-top: 20px;
        border-top: 1px solid rgba(149, 216, 210, 0.74); }
      .woocommerce-account .woocommerce .my-account-inner .woocommerce-Address:last-child {
        margin-bottom: 0px; }
  .woocommerce-account .woocommerce form {
    width: 100%;
    margin-top: 5px; }
    .woocommerce-account .woocommerce form label {
      color: #999999; }
    .woocommerce-account .woocommerce form .form-row .required {
      color: #00b1aa;
      float: right;
      margin-left: 5px;
      text-decoration: none !important; }
    .woocommerce-account .woocommerce form input {
      background: #fff;
      border: none;
      padding: 7px 8px;
      font-size: 100%; }
    .woocommerce-account .woocommerce form .select2-container--default .select2-selection--single {
      border: none;
      border-radius: 0px;
      height: auto;
      padding: 4px 0px;
      outline: none !important;
      font-size: 100%;
      margin-bottom: 0px; }
      .woocommerce-account .woocommerce form .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-left: 0px;
        margin-top: 2px; }

.woocommerce-MyAccount-navigation .title {
  background: #95d8d2;
  color: #767676;
  font-weight: bold;
  font-size: 110%;
  padding: 15px;
  width: 100%;
  float: right;
  position: relative;
  z-index: 1; }
.woocommerce-MyAccount-navigation ul {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
  display: block;
  margin: -10px 0px 20px;
  padding: 15px;
  float: right;
  color: #999999;
  width: 100%;
  border: none;
  border-radius: 0px;
  list-style-type: none; }
  .woocommerce-MyAccount-navigation ul li {
    border-top: 1px solid rgba(149, 216, 210, 0.74);
    padding: 10px 0px; }
    .woocommerce-MyAccount-navigation ul li:first-child {
      padding-top: 0px;
      border: none; }
    .woocommerce-MyAccount-navigation ul li:last-child {
      padding-bottom: 0px; }
    .woocommerce-MyAccount-navigation ul li a {
      color: #00b1aa;
      font-weight: 400;
      text-decoration: none !important; }
      .woocommerce-MyAccount-navigation ul li a:hover {
        color: #007e79; }

body.woocommerce-order-received .cart-empty,
body.woocommerce-order-received .return-to-shop {
  display: none !important; }

.mark, mark {
  padding: 0px 3px;
  background-color: #addfdb;
  color: #fff; }

#page .order_details {
  border-radius: 0px;
  font-size: 90%; }
  #page .order_details th {
    text-align: right; }
  #page .order_details td {
    vertical-align: middle; }
  #page .order_details a {
    color: #00b1aa;
    font-weight: 400;
    text-decoration: none !important; }
    #page .order_details a:hover {
      color: #007e79; }
  #page .order_details .product-info {
    display: flex;
    align-items: center; }
  #page .order_details .attachment-woocommerce_thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: right;
    margin-left: 10px;
    margin-right: -7px;
    box-shadow: inset 0px 0px 5px rgba(149, 216, 210, 0.38);
    border: 1px solid #95d8d2;
    padding: 2px; }

#page .woocommerce-order-details {
  margin-bottom: 20px; }

#page .woocommerce-customer-details {
  margin-bottom: 0px; }
  #page .woocommerce-customer-details .col-1,
  #page .woocommerce-customer-details .col-2 {
    max-width: 100%;
    width: 100%;
    flex: none;
    float: right;
    padding: 0px 5px; }
    #page .woocommerce-customer-details .col-1 h2,
    #page .woocommerce-customer-details .col-2 h2 {
      color: #00b1aa;
      font-weight: 600;
      font-size: 120%; }
    #page .woocommerce-customer-details .col-1 address,
    #page .woocommerce-customer-details .col-2 address {
      border: none;
      margin: 0px;
      padding: 0px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(149, 216, 210, 0.74);
      border-radius: 0px; }
  #page .woocommerce-customer-details .col-2 {
    margin-top: 20px; }
    #page .woocommerce-customer-details .col-2 address {
      padding-bottom: 0px;
      border-bottom: none; }

#page .woocommerce-order-details__title {
  font-size: 120%;
  font-weight: 600;
  color: #00b1aa;
  margin-bottom: 10px; }

#page .blockUI.blockOverlay {
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.42) !important; }
  #page .blockUI.blockOverlay:before {
    width: 50px !important;
    height: 50px !important;
    background: url(../img/loading.gif) no-repeat !important;
    background-size: 100% !important;
    margin: 0px !important;
    transform: translate(50%, -50%) !important;
    transition: none !important;
    animation: none !important; }

@media (max-width: 991px) {
  #page .woocommerce-MyAccount-navigation {
    display: none; }

  #page .woocommerce-MyAccount-content {
    width: 100%; } }
@media (max-width: 767px) {
  #page .woocommerce-order-details {
    font-size: 80%; }

  #page .order_details .product-info > a {
    display: none; }

  #page .shipped_via {
    display: block; } }
#footer {
  width: 100%;
  float: right;
  background: #d0dfd2;
  padding: 20px 0px; }
  #footer .logo {
    margin-bottom: 20px;
    display: inline-block; }
    #footer .logo img {
      width: 140px; }
  #footer .footer-links,
  #footer .address-wrapper {
    position: relative;
    color: #3b3b3a;
    font-size: 90%;
    line-height: 33px; }
    #footer .footer-links:after,
    #footer .address-wrapper:after {
      content: ' ';
      position: absolute;
      right: 0px;
      top: 2px;
      width: 1px;
      height: calc(100% - 10px);
      background: #3a3a3a; }
    #footer .footer-links:before,
    #footer .address-wrapper:before {
      content: ' ';
      position: absolute;
      top: 2px;
      right: -1.8px;
      background: #3a3a3a;
      width: 4px;
      height: 17px; }
  #footer .address-wrapper .address {
    padding: 0px;
    margin: -7px 0px 0px; }
  #footer .footer-links .title {
    font-size: 100%;
    font-weight: bold; }
  #footer .footer-links ul {
    padding-right: 0px;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    #footer .footer-links ul li a {
      color: #3b3b3a;
      text-decoration: none !important;
      padding: 0px;
      transition: 0.2s all; }
      #footer .footer-links ul li a:hover {
        padding-right: 10px; }
  #footer .secure-payment {
    color: #3b3b3a;
    border-bottom: 4px solid #3a3a3a;
    padding-bottom: 20px;
    margin-top: 20px; }
    #footer .secure-payment .info {
      font-size: 90%;
      margin: 0px; }
      #footer .secure-payment .info img {
        height: 40px; }
    #footer .secure-payment .payment-methods img {
      height: 40px; }
  #footer .credits {
    color: #3b3b3a;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 90%; }

@media (max-width: 991px) {
  #footer {
    text-align: center; }
    #footer .footer-links,
    #footer .address-wrapper {
      display: none; }
    #footer .secure-payment {
      display: block !important;
      margin-top: 0px; } }

/*# sourceMappingURL=main.css.map */
