.products-row {
    margin: 0px -30px 0px;
    
    &:nth-child(2) {
        margin: -30px -30px 0px;
    }

    .product {
        text-decoration: none;
        position: relative;
        padding-bottom: 90px;
        margin-top: 30px;

        &.labeled-custom:after{
            content: '';
            position: absolute;
            top: -6.4px;
            left: 9px;
            width: 150px;
            height: 150px;
            background: url(../img/custom-design-tile.png) no-repeat;
            background-size: 100% auto;
        }

        .img {
            width: 100%;
            float: right;
            text-align: center;
            background-size: 100%;
            background-color: #ffffff;
        }
        .img img {
            width: auto;
            height: 300px;
        }
        .inner {
            width: calc(100% - 30px);
            padding: 18.5px 0px;
            float: right;
            background: #fafafa;
            border: 1px solid #f3f3f3;
            position: absolute;
            bottom: 0px;
            right: 15px;
            transition: 0.4s all;
            margin-bottom: 0px;
        }
        .inner.no-price .price {
            height: 51px;
        }

        &:hover .inner {
            background: #fff;
            padding: 23.5px 0px;
        }
        .inner span.title {
            color: $main-blue;
            font-size: 14px;
            font-weight: bold;
            float: right;
            margin-right: 11px;
        }
        .inner .cat {
            max-width: 150px;
            position: absolute;
            bottom: 17px;
            right: 11px;
            transition: 0.4s bottom;
            font-size: 15px;
            color: #666666;
            line-height: 13px;
        }
        &:hover .inner .cat {
            bottom: 22px;
        }

        .inner .title {
            margin-top: 0px;
            max-width: 150px;
            padding-bottom: 30px;
            line-height: 16px;
        }
        .inner span.price {
            float: left;
            color: $main-orange;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            margin-left: 12px;
        }
        .inner span.price {
            position: absolute;
            top: 50%;
            left: 0px;
            margin-top: -25.5px;
        }
        .inner span.price b {
            font-size: 22px;
            display: block;
        }
        &:before {
            content: ' ';
            position: absolute;
            top: 0px;
            right: 15px;
            width: calc(100% - 30px);
            height: 100%;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.12);
            opacity: 0;
            transition: 0.4s opacity;
        }
        &:hover:before {
            opacity: 1;
        }
    }
}

#loading{
    width: 100%;
    float: right;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 54px;
    display: none;
}

#loading img{
    height: 60px;
    -webkit-animation: ld-flip 2s infinite;
    animation: ld-flip 2s infinite;
    animation-delay: 0s;
    animation-play-state: running;
    animation-duration: 2.9s;
}

@keyframes ld-flip {
  0%, 25%, 50%, 75%, 100% {
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  0% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
  25% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
    transform: rotateY(180deg) rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg) rotateX(180deg);
    transform: rotateY(180deg) rotateX(180deg);
  }
  75% {
    -webkit-transform: rotateY(0deg) rotateX(180deg);
    transform: rotateY(0deg) rotateX(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
}