@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css?ver=4.7.6");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i");

body{
    font-family: 'Open Sans Hebrew', 'Open Sans';
    font-size: $base-font-size;
    width: 100%;
    background: $site-background;
}

body,
html{
    width: 100%;
    overflow-y: visible !important;
    overflow-x: hidden !important;
}

body.no-scroll,
html.no-scroll{
    overflow-y: hidden !important;
}