.button{

    &.border-button{
        border: 1px solid;
        padding: 5px 10px;
        text-decoration: none !important;
        outline: none !important;
        transition: 0.4s all;

        &.blue{
            border-color: $main-blue;
            color: $main-blue;

            &:hover{
                background: $main-blue;
                color: #fff;
            }
        }
    }

    &.simple{
        border: 0px;
        outline: none !important;
        padding: 6px 10px;
        cursor: pointer;
        text-align: center;
        transition: 0.4s all;

        &.blue{
            background: #a8ded9;
            color: #fff;

            &:hover{
                background: $main-blue;
                color: #fff !important;
            }
        }

        &.bold{
            font-weight: bold;
        }
    }
}

.woocommerce button.button,
.woocommerce a.button,
.woocommerce button.button.alt{
    border: 0px;
    outline: none !important;
    padding: 13px 15px;
    cursor: pointer;
    background: $main-blue;
    color: #fff !important;
    text-align: center;
    transition: 0.4s all;

    &:disabled{
        background: #a8ded9;
    }

    &:hover{
        background: darken($main-blue, 10);
        color: #fff !important;
    }

    &.bold{
        font-weight: bold;
    }
}