.woocommerce-cart-form{

    a{
        color: $main-blue;
        font-weight: 400;
        text-decoration: none !important;

        &:hover{
            color: darken($main-blue, 10);
        }
    }

    table.cart{
        width: 100%;
        color: #767676;
        border: none;
        z-index: 1;
        position: relative;
        font-size: 90%;
        background: #f5f4f4;

        thead{
            display: table-header-group !important;
            
            tr{
                background: #95d8d2;
                display: table-row !important;

                th{
                    text-align: right;
                    padding: 8px 10px;
                }
            }
        }

        tbody{

            tr{
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
                border: none;
                position: relative;
                z-index: 1;
                display: table-row !important;

                &.bottom{
                    box-shadow: none;
                    position: absolute;
                    bottom: -70px;
                    right: -2px;

                    .button{
                        border: 0px !important;
                        outline: none !important;
                        padding: 10px 10px !important;
                        cursor: pointer !important;
                        text-align: center !important;
                        transition: 0.4s all !important;
                        background: $main-blue !important;
                        color: #fff !important;
            
                        &:not(:disabled):hover{
                            background: darken($main-blue, 10) !important;
                        }
                    }
                }

                td{
                    padding: 15px 15px;
                    border: none;
                    display: table-cell !important;
                    text-align: right !important;

                    &:before{
                        display: none !important;
                    }

                    .attachment-woocommerce_thumbnail{
                        width: 150px;
                        margin: 0px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .product-info{
            display: flex;
            align-items: center;
            text-align: right;

            .info > a:first-child{
                color: #767676;
            }
        }
    }
    
}

#customer_details .col-1, 
#customer_details .col-2{
    width: 100% !important;
    float: right !important;
    max-width: 100% !important;
    padding: 0px !important;
}

.cart-summary{
    width: 100%;
    background: #fff;
    border: none;
    float: right;
    margin-top: -30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;

    table.shop_table{
        width: 250px !important;
        display: block;
        float: left;
        margin: 20px 10px 10px;
        border: none;

        tr{
            display: block;
            margin-top: 10px;
            border: 1px solid #3b3838;
            font-size: 88%;
            color: #767676;
            width: 100%;
            max-width: 250px;
            float: left;

            &:first-child{
                margin-top: 0px;
            }
           
           td, th{
                border: none;
                padding: 5px 8px;
           }

           td{
               text-align: left;
               float: left;
           }

           th{
               text-align: right;
               float: right;
               font-weight: 400;
           }
        }
    }
}

#order_review .shop_table{
    display: none;
}

.checkout-step{
    margin-top: 20px;
    float: right;
    width: 100%;
    
    &.step-shipping-method{
        margin-top: 0px;

        .step-content{
            min-height: 143px;
        }
    }
    
    .step-title{
        background: #95d8d2;
        color: #767676;
        font-weight: bold;
        font-size: 100%;
        padding: 15px;
        width: 100%;
        float: right;
        position: relative;
        padding-right: 50px;

        &:after{
            content: attr(data-step);
            position: absolute;
            top: 50%;
            right: 15px;
            width: 25px;
            height: 25px;
            background: #767676;
            color: #95d8d2;
            font-weight: bold;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            transform: translateY(-50%);
        }
    }
    
    .step-content{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
        display: block;
        margin-top: -10px;
        padding: 15px;
        float: right;
        color: #999999;
        width: 100%;
        font-size: 85%;
    }
}

.checkout{
    #ship-to-different-address{
        display: none;
    }

    .shipping_address{
        display: block !important;
    }
}

#page .woocommerce .checkout_coupon{
    display: block !important;
    height: auto !important;
    margin: 77px 0px 0px 44px !important;
    padding: 10px !important;
    position: absolute;
    width: 100%;
    max-width: 300px;
    float: left;
    left: 0px;
    background: #4daea9;
    border-radius: 0px !important;
    border: none !important;
    text-align: center;
    font-size: 90%;
    color: #fff;

    input {
        width: calc(100% - 100px);
        float: right;
        border: none;
        font-size: 90%;
        padding: 5px 5px;
        outline: none !important;
    }

    button{
        width: 100px;
        float: right;
        padding: 9px 0px;
        background: #95d8d2;
        color: #29847f;
        font-weight: 400;
        border-radius: 0%;
        font-size: 90%;
        outline: none !important;
        transition: 0.2s all;

        &:hover{
            background: darken(#95d8d2, 10);
            color: #fff;
        }
    }
}

form.woocommerce-checkout{

    .woocommerce-error{
        display: none !important;
    }
}

#page .woocommerce {

    .woocommerce-account-fields,
    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper{
        width: 100%;
        max-width: 400px;
        margin-top: 5px;

        .form-row{
            width: 100% !important;
        }

        input{
            background: #fff;
            border: none;
            padding: 7px 8px;
            font-size: 90%;
        }

        .woocommerce-invalid input{
            box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.71);
        }

        .select2-container--default .select2-selection--single{
            border: none;
            border-radius: 0px;
            height: auto;
            padding: 4px 0px;
            outline: none !important;
            font-size: 90%;
            margin-bottom: 0px;

            .select2-selection__arrow b{
                margin-left: 0px;
                margin-top: 2px;
            }
        }
    }
}

body.woocommerce-checkout{
    .woocommerce-error{
        margin-bottom: 15px;
    }

    .form-row.place-order{
        padding: 15px 0px;
    }
}

.select2-dropdown *{
    font-size: 90%;
}

@media(max-width: 767px) {
    .woocommerce-cart-form table.cart .product-price,
    .woocommerce-cart-form table.cart .product-subtotal,
    .woocommerce-cart-form table.cart .product-remove{
        display: none !important;
    }

    .woocommerce-cart-form table.cart tbody tr td .attachment-woocommerce_thumbnail{
        display: block !important;
        width: 50px;
        margin-left: 40px;
    }

    .woocommerce-cart-form table.cart tbody tr.bottom{
        width: calc(100% + 2px);

        .actions{
            width: 100%;
            display: block !important;
            background: none !important;
            
            .button{
                border-radius: 0px !important;
            }
        }
    }

    .cart-summary{
        padding-top: 50px;
        margin-top: -78px;
    }

    .cart-summary table.shop_table,
    .cart-summary table.shop_table tr{
        width: 100% !important;
        max-width: 100%
    }

    .cart-summary table.shop_table{
        margin: 20px 0px 10px 15px;
        max-width: calc(100% - 30px);

        tfoot{
            display: block;
        }
    }

    .checkout-step.step-shipping-method .step-content{
        min-height: 0px;
        padding-top: 115px;
    }

    #page .woocommerce .checkout_coupon{
        max-width: none;
        width: calc(100% - 63px);
        margin: 71px 0px 0px 31px !important;

        label{
            font-size: 80%;
            margin-top: -2px;
            display: block;
        }
    }
}