.categories{
    padding-bottom: 40px;

    .container{
        position: relative;
    }

    .category-wrapper{
        padding: 5px;

        &:first-child{
            padding-right: 0px;
        }

        &:last-child{
            padding-left: 0px;
        }
    }

    #categories-carousel{
        width: calc(100% + 30px);
        margin-right: -15px;
    }

    .categories-carousel{
        position: relative;

        .arrows{
            a{
                position: absolute;
                top: 50%;
                right: -75px;
                background: #fc7e01 url('../img/icons/arrow-right.png') no-repeat center center;
                background-size: auto 25px;
                width: 40px;
                height: 40px;
                border-radius: 50%;

                &.left{
                    left: -75px;
                    right: auto;
                    background-image: url('../img/icons/arrow-left.png');
                }
            }
        }
    }

    .category{
        position: relative;
        height: 250px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-decoration: none !important;
        overflow: hidden;
        z-index: 5215125125125;

        .category-thumbnail{
            width: 100%;
            height: 250px;
            object-fit: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            transition: 0.2s all;
        }

        .category-title{
            position: relative;
            z-index: 1;
            background: rgba(255, 255, 255, 0.8);
            color: #00b1aa;
            padding: 10px 15px;
            font-weight: bold;
            font-size: 80%;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
            margin-bottom: 0px;
            width: 100%;
            text-align: center;
        }

        &:hover{

            .category-thumbnail,
            .category-title{
                transform: scale(1.2);
            }
        }
    }


    .carousel-indicators {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0px;
        padding: 0px;
        bottom: -40px;

        li {
            background: #8ed8d5;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            padding: 0px;
            margin: 0px;
            cursor: pointer;

            &.active {
                background: $main-blue;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -10px;

        .sr-only {
            display: none !important;
        }

        &.carousel-control-next {
            left: -70px;
            right: auto;
        }

        &.carousel-control-prev {
            right: -70px;
            left: auto;
        }

        span {
            background: #fc7e01 url('../img/icons/arrow-left.png') no-repeat center center;
            width: 100%;
            height: 100%;
            background-size: auto 25px;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &.carousel-control-prev-icon {
                background-image: url('../img/icons/arrow-right.png');
            }
        }
    }
}

@media(max-width: 575px) {
    .categories .category{
        display: block;
        height: auto;
        margin-bottom: 5px;
        .category-thumbnail {
            position: static;
            height: auto;
        }
    }
    #categories-carousel {
        .carousel-control-next {
            left: 0;
            bottom: auto;
            top: auto;
            transform: translateY(50%);
            z-index: 99999;
        }
        .carousel-control-prev {
            right: 0;
            bottom: auto;
            top: auto;
            transform: translateY(50%);
            z-index: 99999;
        }
    }
}