#contact {
    width: 100%;
    background: #4daea9;
    float: right;
    padding-bottom: 15px;

    &.single{
        padding: 30px 0px 70px;
    } 

    div.wpcf7-validation-errors,
    div.wpcf7-mail-sent-ok {
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        border: none;
        background: #dbefee;
        padding: 6px 7px;
        font-size: 90%;
        font-weight: bold;
        color: #f57e20;
    }
    
    div.wpcf7-mail-sent-ok{
        color: #4daea9;
    }
    
    .form-wrapper {
        width: calc(100% - 30px);
        max-width: 650px;
        display: block;
        margin: 0 auto;

        .wpcf7-form-control-wrap{
            display: block;

            span.wpcf7-not-valid-tip{
                color: #fc7e01;
                position: absolute;
                bottom: 17px;
                display: inline;
                left: 60px;
                font-size: 80%;
                font-weight: bold;
            }
        }

        .fields{
            position: relative;
        }

        .row{
            margin: 0px;
        }

        .section-title {
            color: #fff;

            span {
                background: #4daea9;
            }
            
            &:after {
                background: #fff;
            }
        }

        input,
        textarea {
            background: #dbefee;
            border: none;
            width: calc(100% - 50px);
            margin-bottom: 10px;
            padding: 5px 5px;
            outline: none !important;

            &::-webkit-input-placeholder {
                color: rgb(0, 0, 0);
            }
            &::-moz-placeholder {
                color: rgb(0, 0, 0);
            }
            &:-ms-input-placeholder {
                color: rgb(0, 0, 0);
            }
            &:-moz-placeholder {
                color: rgb(0, 0, 0);
            }
        }

        textarea{
            height: 140px;
            resize: none;
            margin-bottom: 0px;
        }

        button{
            width: 40px;
            background: #dbefee url(../img/arrow-left-blue.png) no-repeat center 53%;
            background-size: 8px auto;
            outline: none;
            border: none;
            height: calc(100% - 8px);
            position: absolute;
            top: 0px;
            left: 0px;
            cursor: pointer;
            opacity: 1;
            transition: 0.4s opacity;
            font-weight: 600;
            font-size: 14px;
            padding-bottom: 27px;
            color: #4daea9;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}