#customers {
    float: right;
    width: 100%;
    position: relative;
    padding-bottom: 90px;

    .section-title {
        margin: 50px 0px;
    }

    .customers-row {
        margin: 20px 0px 0px;
        align-items: center;

        &:first-child {
            margin-top: 0px;
        }

        img {
            width: calc(100% / 11);
        }
    }

    .carousel {
        width: calc(100% + 30px);
        margin-right: -15px;
    }

    .carousel-indicators {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0px;
        padding: 0px;
        bottom: -60px;

        li {
            background: #8ed8d5;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            padding: 0px;
            margin: 0px;
            cursor: pointer;

            &.active {
                background: $main-blue;
            }
        }
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 20px;
        height: 36px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -10px;

        .sr-only {
            display: none !important;
        }

        &.carousel-control-next {
            left: -70px;
            right: auto;
        }

        &.carousel-control-prev {
            right: -70px;
            left: auto;
        }

        span {
            background-image: url('../img/arrow-left-blue.png');
            width: 100%;
            height: 100%;

            &.carousel-control-prev-icon {
                background: url('../img/arrow-right-blue.png') no-repeat;
            }
        }
    }
}

@media(max-width: 768px) {

    #customers{
        
        .customers-row{

            img{
                width: calc(100% / 5);
            }
        }
    }
}

@media(max-width: 575px) {

    #customers{
        
        .customers-row{

            img{
                width: calc(100% / 3.5);
            }
        }
    }
}