#footer{
    width: 100%;
    float: right;
    background: #d0dfd2;
    padding: 20px 0px;

    .logo{
        margin-bottom: 20px;
        display: inline-block;
        
        img{
            width: 140px;
        }
    }

    .footer-links,
    .address-wrapper{
        position: relative;
        color: #3b3b3a;
        font-size: 90%;
        line-height: 33px;

        &:after{
            content: ' ';
            position: absolute;
            right: 0px;
            top: 2px;
            width: 1px;
            height: calc(100% - 10px);
            background: #3a3a3a;
        }

        &:before{
            content: ' ';
            position: absolute;
            top: 2px;
            right: -1.8px;
            background: #3a3a3a;
            width: 4px;
            height: 17px;
        }
    }

    .address-wrapper .address{
        padding: 0px;
        margin: -7px 0px 0px;
    }

    .footer-links{
        
        .title{
            font-size: 100%;
            font-weight: bold;
        }

        ul{
            padding-right: 0px;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            
            li{
                a{
                    color: #3b3b3a;
                    text-decoration: none !important;
                    padding: 0px;
                    transition: 0.2s all;

                    &:hover{
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    .secure-payment {
        color: #3b3b3a;
        border-bottom: 4px solid #3a3a3a;
        padding-bottom: 20px;
        margin-top: 20px;

        .info{
            font-size: 90%;
            margin: 0px;

            img{
                height: 40px;
            }
        }
        
        .payment-methods{
            img{
                height: 40px;
            }
        }
    }
    
    .credits{
        color: #3b3b3a;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 90%;
    }
}

@media(max-width: 991px) {

    #footer{
        text-align: center;

        .footer-links,
        .address-wrapper{
            display: none;
        }

        .secure-payment {
            display: block !important;
            margin-top: 0px;
        }
    }
}