#gallery{

    &.single{
        margin-bottom: 10px;

        .section-title{
            font-size: 150%;
        }
    }

    .gallery-row{
        margin: 0px -5px;

        .col-md-4{
            padding: 0px 5px;
            margin-top: 10px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:first-child{
            margin-top: 0px;
        }
    }

    .show-more{
        width: 100%;
        text-align: center;
        margin: 40px 0px;
    }
}