.section-title{
    width: 100%;
    text-align: center;
    color: $main-blue;
    margin: 30px 0px;
    position: relative;
    font-weight: 400;

    span{
        position: relative;
        background: $site-background;
        z-index: 1;
        padding: 0px 15px;
    }
    
    &:after{
        content: ' ';
        position: absolute;
        top: 50%;
        right: 0px;
        width: 100%;
        height: 1px;
        margin-top: 1px;
        z-index: 0;
        background: $main-blue;
    }
}

.carousel-pagination{
    width: 100%;
    display: block;
    text-align: center;

    a{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #8ed8d5;
        margin: 0px 1px;
        border-radius: 50%;

        &.active{
            background: $main-blue;
        }
    }
}

#page{
    margin: 0px 0px 30px;

    .section-title{
        font-size: 150%;
    }
}

body.loading{
    
    &:after{
        content: ' ';
        position: fixed;
        top: 0px;
        right: 0px;
        background: rgba(39, 39, 39, 0.6);
        width: 100%;
        height: 100%;
        z-index: 5000000;
    }

    &:before{
        content: ' ';
        position: fixed;
        top: 50%;
        right: 50%;
        width: 80px;
        height: 80px;
        transform: translate(50%, -50%);
        background: url('../img/loading.gif') no-repeat;
        background-size: 100%;
        z-index: 5000001;
    }

}

#paginiation{
    width: 100%;
    text-align: center;
    margin: 20px 0px;

    a,
    span{
        display: inline-block;
        background: $main-blue;
        color: #fff;
        border-radius: 4px;
        font-size: 90%;
        padding: 5px 14px;
        text-decoration: none !important;
    }

    a:hover{
        background: darken($main-blue, 5);
    }

    span{
        background: $main-orange;
    }
}

@media(max-width: 768px) {

    .section-title{
        font-size: 130%;
    }
}

@media(max-width: 575px) {
    
    .container{
        padding: 0px 30px;
    }
}