#header nav.navigation ul li ul
{
display:none;
}

#header {

    .container{
        position: relative;
    }

    .logo{
        margin: 10px 0px;

        img{
            height: 100px;
        }
    }
    
    .social-links{
        padding-right: 0px;
        list-style-type: none;
        margin: 0px;

        li{
            display: inline-block;
            margin-left: 15px;
            
            a{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: inline-block;
                background: #f0b949 center center no-repeat;
                background-size: 20px auto;
            }

            &.facebook a{
                background-image: url('../img/icons/facebook.png');
                background-size: 10px auto;
            }
            &.instagram a{background-image: url('../img/icons/instagram.png');}
            &.whatsapp a{background-image: url('../img/icons/whatsapp.png');}
            &.youtube a{background-image: url('../img/icons/youtube.png');}
            &.g-plus a{
                background-image: url('../img/icons/google-plus.png');
                background-size: 25px auto;
            }
        }
    }

    .phone{
        margin: 0px;
        
        a{
            direction: ltr;
            font-size: 170%;
            margin: 0px;
            font-weight: bold;
            color: $main-blue;
            line-height: 1;
            text-decoration: none !important;

            span{
                position: relative;
                margin-right: 18px;

                &:before{
                    content: ' ';
                    position: absolute;
                    left: -16px;
                    width: 7px;
                    height: 7px;
                    background: $main-blue;
                    display: inline-block;
                    border-radius: 50%;
                    top: 50%;
                    margin-top: -3px;
                }

                &:last-child{
                    margin-right: 0px;
                }

                &:first-child{
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }

    nav.navigation{
        background: #fc7e01;
        text-align: right;
        padding: 10px 0px;
        position: relative;

        .container{
            padding: 0px;
        }

        ul{
            padding: 0px;
            margin: 0px;
            list-style-type: none;

            li{
                display: inline-block;
                position: relative;
                padding-left: 40px;

                a{
                    color: #fff;
                    font-size: 90%;
                    text-decoration: none;
                }

                &:after{
                    content: ' ';
                    position: absolute;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #fff;
                    top: 50%;
                    left: 15px;
                    margin-top: -2.5px;
                }

                &:last-child{
                    padding-left: 0px;
                    
                    &:after{
                        display: none;
                    }
                }
            }
        }
        
        .account-links{
            float: right;
            margin-right: 15px;
            margin-left: 15px;

            .user, .cart{
                padding-right: 30px;
                position: relative;
                height: 24px;
                
                i{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background: url('../img/icons/user.png') no-repeat right center;
                    top: 0px;
                    right: 0px;
                }

                &.cart i{
                    background-image: url('../img/icons/cart.png');
                    width: 37px;
                    height: 36px;
                    top: -2px;
                    background-size: 100%;
                }

                .count{
                    position: absolute;
                    top: -5px;
                    right: -13px;
                    background: #00b1aa;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    font-size: 75%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            li{
                padding-left: 20px;

                &:after{
                    display: none;
                }
            }
        }

        form{
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            
            button{
                position: absolute;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                background: url('../img/search.png') no-repeat;
                background-size: cover;
                cursor: pointer;
                outline: none !important;
                border: none !important;
            }

            input{
                background: #fff;
                border: none;
                font-size: 72%;
                padding: 6px 7px;
                outline: none !important;
                width: 230px;
                border-radius: 3px;
            }
        }
    }

    #toggle-nav{
        border: 0px;
        outline: none;
        position: absolute;
        width: 30px;
        top: 17px;
        display: none;
        z-index: 17;

        .bar {
            width: 30px;
            height: 2px;
            border-radius: 11px;
            background: $main-blue;
            display: block;
            margin: 8px auto;
            position: absolute;
            left: 0px;
            transition: .2s all;
        }

        .bar:nth-child(1) {
            top: 0px;
        }

        .bar:nth-child(2) {
            top: 10px;
        }

        .bar:nth-child(3) {
            top: 20px;
            transition: none;
        }
    }

    #mobile-cart{
        position: absolute;
        top: 14px;
        right: 65px;
        display: none;

        span{
            position: absolute;
            top: -2px;
            right: -7px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 70%;
            color: $main-blue;
        }
    }
            
    .mobile-navigation{
        position: fixed;
        top: 70px;
        right: 0px;
        width: 240px;
        height: calc(100vh - 70px);
        background: #000;
        border-left: 1px solid #dedede3d;
        display: none;
        transform: translateX(240px);
        overflow-y: scroll;
        transition: 0.4s all;

        form {
            position: relative;

            input{
                font-size: 80%;
                width: 100%;
                border: none;
                outline: none;
                padding: 9px 9px;
            }

            button{
                position: absolute;
                left: 6px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                background: url('../img/search.png') no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
                outline: none !important;
                border: none !important;
                padding: 0;
            }
        }

        ul {
            padding-right: 0px;
            text-align: right;
            float: right;

            li{
                width: 100%;
                margin: 0px;
                float: right;

                a{
                    width: 100%;
                    display: inline-block;
                    color: #fff;
                    font-weight: 100;
                    padding: 10px 15px;
                    margin: 0px;
                    text-transform: none !important;
                    font-size: 80%;
                    text-decoration: none !important;

                    &:after{
                        display: none;
                    }
                }

                &.dropdown{

                    > a{
                        background: url('../img/icons/arrow-down.png') no-repeat;
                        background-size: 16px;
                        background-position: 15px center;
                    }

                    &.open > a{
                        background-image: url('../img/icons/arrow-up.png');
                    }
                }

                ul{
                    padding-right: 23px;
                    position: relative;
                    float: right;
                    display: none;

                    &:before{
                        content: ' ';
                        position: absolute;
                        right: 17px;
                        top: 0px;
                        width: 2px;
                        height: 100%;
                        background: rgba(255, 255, 255, 0.09);
                    }
                }
            }

            li:first-child a{
                margin-top: 0px;
            }
        }
    }
}

@media(max-width: 1500px) {
    
    #header nav.navigation ul li a{
        font-size: 80%;
    }

    #header nav.navigation .account-links .user.cart i, #header nav.navigation .account-links .cart.cart i{
        width: 30px;
        height: 29px;
        top: 2px;
    }

    #header nav.navigation .account-links .cart .count {
        top: -1px;
        right: -12px;
        width: 20px;
        height: 20px;
    }

    #header nav.navigation form input{
        width: 200px;
    }
}

@media(max-width: 1328px) {

    #responsiveContainer {
        width: 100%;
        overflow-x: hidden;
        transition: 0.4s all;
        transform: translateX(0px);
        position: relative;

        &:after{
            content: ' ';
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 21521125;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            transition: 0.4s all;
            visibility: hidden;
            opacity: 0;
        }
    }

    #header{
        background: #d0dfd2;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        z-index: 60000;

        .container{
            max-width: 100%;
            padding: 0px 15px !important;
        }

        .logo{
            margin: 5px 10px;

            img{
                height: 60px;
            }
        }

        nav.navigation,
        .social-links,
        .phone{
            display: none;
        }

        #toggle-nav,
        #mobile-cart{
            display: block;
        }

        .mobile-navigation{
            display: block;
        }
    }
    
    body{
        padding-top: 70px;
    }

    body.nav-open{
        
        #header .mobile-navigation{
            transform: translateX(0px);
        }
        
        #responsiveContainer {
            transform: translateX(-240px);
            width: 100%;

            &:after{
                opacity: 1;
                visibility: visible;
            }
        }

        #header #toggle-nav{

            .bar:nth-child(1) {
                transform: rotate(45deg);
                top: 10px;
            }
            .bar:nth-child(2) {
                transform: rotate(-45deg);
                top: 10px;
                right: 0;
            }
            .bar:nth-child(3) {
                display: none;
            }
        }
    }
}