.how-it-works{

    .step{
        text-align: center;
        max-width: 200px;
        display: inline-block;

        img{
            height: 150px;
            margin-bottom: 20px;
        }

        .step-title{
            font-size: 85%;
            font-weight: bold;
            color: $main-blue;
        }

        .step-desc{
            color: #999999;
            font-size: 70%;
        }

    }


    .materials{
        margin-top: 30px;

        ul{
            padding-right: 0px;
            list-style-type: none;

            li{
                text-align: center;
                max-width: 50%;
                        
                .material{
                    width: 100%;
                    height: 100%;
                    max-width: 150px;
                    display: inline-block;
                    position: relative;

                    img{
                        width: 100%;
                        transition: 0.2s all;
                    }

                    .title{
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -90%);
                        color: #767676;
                        font-weight: bold;
                        font-size: 90%;
                        line-height: 1;
                        padding: 0px;
                        margin: 0px;
                        transition: 0.2s all;
                    }
                }
            }
        }

    }
}

#page .how-it-works{
    margin: 40px 0px;

    .section-title{
        display: none;
    }
}

@media(max-width: 767px) {

    .how-it-works .steps > .col-md-4{
        text-align: center !important;

        &:last-child{
            max-width: 100%;
            width: 100%;
            flex: 0 0 100%;
        }
    }
}