#product{
    margin-bottom: 50px;

    .product-row{
        margin: 0px -7.5px;

        > div{
            padding: 0px 7.5px;
        }
    }

    .section-title{
        font-size: 150%;
    }

    .block-title{
        background: #95d8d2;
        color: #767676;
        font-weight: bold;
        font-size: 100%;
        padding: 15px;
        width: 100%;
        float: right;
    }

    .gallery{
        margin-bottom: 15px;

        .block-title{
            padding: 10px 15px;

            .product-name{
                display: inline;
                font-size: 100%;
                font-weight: bold;
            }

            span{
                font-weight: normal;
                font-size: 75%;
            }

            .manufactor,
            .product-name{

                &:after{
                    content: '|';
                    display: inline-block;
                    padding: 0px 5px 0px 0px;
                }
            }
        }
        
        .large-image{
            width: 100%;
            background: #fff;
            padding: 20px;
            display: inline-block;
            position: relative;
            text-align: center;

            &.loaded{
                img{
                    opacity: 0;
                }
            }
            
            img{
                max-width: 100%;
                max-height: 500px;
            }

            .canvas-wrapper{
                position: absolute;
                top: 0px;
                right: 0px;
                width: 100%;
                height: 100%;

                .canvas-layer{
                    /*
                    border: 2px solid #fc7e01;
                    */
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                }
            }
        }

        .gallery-images{
            margin: 15px -7.5px;

            .col-lg-4{
                padding: 0px 7.5px;
            }

            .image{
                width: 100%;
                height: 150px;
                background: #fff;
                padding: 10px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
    }

    .layer-related{
        display: none;
    }

    &.layer-0{

        .layer-0-related{
            display: block;
        }
    }

    .description{
        float: right;
        width: 100%;
        margin-top: 1px;

        &.mobile-description{
            display: none;
            margin-top: 20px;
        }

        .block-title{
            position: relative;
        }

        .content{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
            display: inline-block;
            margin-top: -10px;
            padding: 15px;
            color: #999999;
            font-size: 90%;
            width: 100%;

            p:last-child{
                margin: 0px;
            }
        }
    }

    .order-step{
        margin-top: 20px;
        float: right;
        width: 100%;
        
        &:first-child{
            margin-top: 0px;
        }
        
        .block-title.step{
            position: relative;
            padding-right: 50px;

            &:after{
                content: attr(data-step);
                position: absolute;
                top: 50%;
                right: 15px;
                width: 25px;
                height: 25px;
                background: #767676;
                color: #95d8d2;
                font-weight: bold;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                display: flex;
                transform: translateY(-50%);
            }
        }
        
        .step-box-content{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
            display: block;
            margin-top: -10px;
            padding: 15px;
            float: right;
            color: #999999;
            width: 100%;
            font-size: 85%;
        }
        
    }
    
    .image-upload{

        .settings{
            width: calc(100% - 200px);
            padding-left: 5px;
            float: right;

            .stauration-container{
                width: calc( 100% - 40px);
                height: 54px;
                float: left;
                position: relative;
                margin-left: 22px;

                .control{
                    position: absolute;
                    right: 45px;
                    bottom: 4px;
                    color: #95d8d2;
                    font-size: 110%;
                    padding: 0px;
                    line-height: 1;
                    background: none;
                    border: none;
                    outline: none !important;
                    cursor: pointer;

                    &:hover{
                        color: #1fa599;
                    }

                    &.minus{
                        right: auto;
                        left: -13px;
                    }
                }

                input[type=number] {
                    position: absolute;
                    top: 2px;
                    right: -20px;
                    width: 46px;
                    text-align: center;
                    border: 1px solid #95d8d2;
                    font-size: 89%;
                    padding: 3px;
                    margin: 0;
                    outline: none;
                    
                    &::-webkit-inner-spin-button, 
                    &::-webkit-outer-spin-button { 
                    -webkit-appearance: none; 
                    margin: 0; 
                    }
                }

                .slider{
                    width: calc(100% - 60px);
                    -webkit-appearance: none;  /* Override default CSS styles */
                    appearance: none;
                    background: #95d8d2;
                    height: 5px;
                    outline: none !important;
                    position: relative;
                    direction: ltr;
                    margin-right: 60px;

                    &:before,
                    &:after{
                        content: ' ';
                        position: absolute;
                        top: -11px;
                        right: -23px;
                        background: url('../img/icons/sun.png') no-repeat;
                        width: 28px;
                        height: 28px;
                    }

                    &:after{
                        background-image: url('../img/icons/moon.png');
                        right: auto;
                        left: -23px;
                    }

                    &::-webkit-slider-thumb{
                        -webkit-appearance: none; /* Override default look */
                        appearance: none;
                        width: 25px; /* Set a specific slider handle width */
                        height: 13px; /* Slider handle height */
                        background: #00b1aa; /* Green background */
                        cursor: pointer; /* Cursor on hover */
                        border-radius: 10px;
                        z-index: 5;
                        position: relative;
                    }

                    &::-moz-range-thumb{
                        -webkit-appearance: none; /* Override default look */
                        appearance: none;
                        width: 25px; /* Set a specific slider handle width */
                        height: 13px; /* Slider handle height */
                        background: #00b1aa; /* Green background */
                        cursor: pointer; /* Cursor on hover */
                        border-radius: 10px;
                        z-index: 5;
                        position: relative;
                    }
                }
            }

            .inputs{
                width: 300px;
                margin-left: 10px;
                float: left;

                .button{
                    width: 100%;
                }

                .file{
                    width: 100%;
                    position: relative;
                    margin-top: 10px;
                    cursor: pointer;

                    input{
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                
                    .button{
                        display: block;
                        color: #000;
                    }

                    &:hover .button{
                        background: $main-blue;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }

        .preview{
            float: right;
            width: 200px;
            height: 184px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &.empty{

            .settings{
                width: 100%;
                padding-left: 0px;

                .inputs{
                    margin-left: 0px;

                    .stauration-container,
                    button{
                        display: none;
                    }
                }
            }
            
            .preview{
                display: none;
            }
        }
    }

    .sticker-picker{

        .step-box-content{
            padding: 50px;
        }
        
        .stickers-row{
            width: 100%;
            padding: 0px;
            margin: 0px;
            list-style-type: none;

            li{
                float: right;
                width: calc((100% / 8) - 4.4px);
                height: 70px;
                margin-left: 5px;

                @media(max-width: 991px) {
                    width: calc((100% / 4) - 5px);
                    margin: 2.5px;
                }

                @media(max-width: 420px) {
                    width: calc((100% / 2) - 5px);
                }

                &:last-child{
                    margin-left: 0px;
                }

                a{
                    width: 100%;
                    height: 100%;
                    background: #FFF;
                    float: right;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;

                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }

        .carousel-control-next,
        .carousel-control-prev {
            width: 15px;
            height: 31px;
            top: 50%;
            transform: translateY(-50%);

            .sr-only {
                display: none !important;
            }

            &.carousel-control-next {
                left: -35px;
                right: auto;
            }

            &.carousel-control-prev {
                right: -35px;
                left: auto;
            }

            span {
                background-image: url('../img/arrow-left-blue.png');
                width: 100%;
                height: 100%;
                background-size: 100%;

                &.carousel-control-prev-icon {
                    background-image: url('../img/arrow-right-blue.png');
                }
            }
        }
    }

    .custom-text{

        .step-box-content{
            z-index: 1;
            position: relative;
            
            label{
                float: right;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .open-font-picker{
                text-align: left;
                color: #999999;
                text-decoration: none !important;
                position: absolute;
                left: 34px;
                margin-top: 30px;

                img{
                    float: left;
                    width: 30px;
                    margin-right: 5px;
                    transition: 0.2s all;
                }

                &:hover img{
                    margin-right: 10px;
                }
            }

            .text-slot {
                
                &:nth-child(2) {

                    .open-font-picker{
                        margin-top: 55px;
                    }
                }
            }

            button{
                float: left;
                margin-top: 5px;
            }
            
            textarea{
                width: 100%;
                border: none;
                margin-top: 10px;
                padding: 10px;
                font-size: 85%;
                outline: none !important;
                resize: none;
            }
        }
        
        .font-picker{
            padding-right: 0px;
            list-style-type: none;
            width: 100%;
            height: 250px;
            background: #fff;
            float: right;
            position: relative;
            margin-bottom: 0px;
            z-index: 0;
            display: none;
            overflow-y: scroll;
            &.open{
                display: block;
            }
            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: #c7c7c7;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #9f9f9f;
            }

            li{
                width: 100%;
                margin: 0px;
                
                a{
                    width: 100%;
                    padding: 10px;
                    display: block;
                    font-weight: bold;
                    color: #999999;
                    text-decoration: none !important;
                }
                

                &.active a,
                a:hover{
                    background: #999999;
                    color: #fff;
                }
            }
        }
    }

    &.edit-disabled{

        .image-upload,
        .custom-text,
        .description{
            display: none !important;
        }

        .description.mobile-description{
            display: block !important;
            margin-top: 0px;
        }
    }
    
    .summary{
        float: right;
        width: 100%;
        margin-top: 20px;
        
        .price{
            width: 100%;
            text-align: left;
            background: #95d8d2;
            color: #767676;
            font-weight: bold;
            padding: 10px 15px;
            .regular-price {
                text-decoration: line-through;
                font-size: 70%;
            }
        }

        .button{
            float: left;
            margin-top: 10px;
            padding: 10px 15px;
            font-size: 90%;
        }
    }
}

@media(max-width: 991px) {
    #product .image-upload .settings{
        width: 100%;
        
        .inputs{
            margin-left: -5px;
            width: calc(100% + 5px);
        }
    }

    #product .image-upload .preview{
        margin-top: 10px;
        width: 100%;
    }
}

@media(max-width: 767px) {

    #product .description.desktop-description{
        display: none;
    }

    #product .description.mobile-description{
        display: block;
    }

}