#videos{
    background: #d0dfd2;
    width: 100%;
    float: right;
    margin-bottom: 30px;
    
    .section-title{
        margin: 40px 0px;

        span{
            background: #d0dfd2;
        }
    }

    &.single{
        background: none;

        .section-title{
            font-size: 150%;
            margin: 30px 0px;
    
            span{
                background: #f5f4f4;
            }
        }

        .videos-row{
            margin: 0px -30px;
        }

    }

    .videos-row{
        margin: 0px -20px;
    }

    .col-md-6{
        padding: 0 7.5px;
    }

    .video{
        position: relative;
        width: 100%;
        height: 200px;
        display: block;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.2s all;
        }

        &:after{
            content: ' ';
            position: absolute;
            top: 50%;
            right: 50%;
            width: 110px;
            height: 110px;
            background: url('../img/video-play.png') no-repeat;
            background-size: 100%;
            transform: translate(50%, -65%);
            opacity: 1;
            transition: 0.2s all;
        }

        .video-info{
            position: absolute;
            bottom: 0px;
            right: 0px;
            margin: 0px;
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            color: #767676;
            font-weight: bold;
            padding: 5px 8px;
            font-size: 90%;
        }

        &.large{
            height: 100%;
            margin-top: 0px !important;
        }

        &.medium{
            height: 220px;
            margin-bottom: 15px;
        }

        &:last-child{
            margin-top: 15px;
        }

        &:hover{

            img{
                transform: scale(1.2);
            }

            &:after{
                opacity: 0.5;
            }
        }
    }

    .show-more{
        width: 100%;
        text-align: center;
        margin: 40px 0px;
        display: block;
    }

}

#video-wrapper{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 515125125;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.4s all;

    &.open{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    
    .video-inner{
        width: 95%;
        height: 95%;
        max-width: 500px;
        max-height: 400px;
        margin-top: 50vh;
        margin-left: 50vw;
        float: left;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0px 0px 22px #000;

        .close-video{
            position: absolute;
            top: -10px;
            right: -10px;
            background: #fff;
            width: 40px;
            height: 40px;
            border-bottom-left-radius: 4px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none !important;
            font-size: 120%;
            font-weight: bold;
            color: #000;
        }

        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

@media(max-width: 767px) {

    #videos .video.large{
        height: 200px;
        margin-top: 15px !important;
    }
}