.woocommerce-info{
    background: #d0dfd2;
    color: #767676;
    padding: 13px 40px 13px 15px;
    border: 0px;
    font-size: 80%;

    a{
        font-weight: bold;
        color: $main-blue;
        text-decoration: none !important;
    }

    &:before{
        content: '!';
        width: 20px;
        height: 20px;
        background: #767676;
        color: #d0dfd2;
        border-radius: 50%;
        right: 15px;
        top: 14px;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
        line-height: 0;
        padding-top: 8px;
    }
}

.woocommerce-error{
    background: #bb4248;
    border: none;
    color: #ffff;
    font-size: 90%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 43px;

    &:before{
        color: #ffffff;
        top: 10px;
        right: 15px;
    }
}

body.woocommerce-account #page {
    
    .section-title{
        margin: 40px 0px;
    }

    .page-content{
        width: calc(100% + 30px);
        margin-right: -15px;
    }
}

#customer_login{

    .col-1,
    .col-2{
        max-width: none;
        flex: none;
        padding: 0px;

        > h2{
            background: #95d8d2;
            color: #767676;
            font-weight: bold;
            font-size: 110%;
            padding: 15px;
            width: 100%;
            float: right;
            position: relative;
            z-index: 1;
        }

        form{
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
            display: block;
            margin: -10px 0px 20px;
            padding: 15px;
            float: right;
            color: #999999;
            width: 100%;
            border: none;
            border-radius: 0px;
            
            .form-row:nth-child(3){
                margin-bottom: 0px;
                margin-top: 10px;

                label.inline{
                    margin-bottom: 0px;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }

            .lost_password{
                float: left;
                margin: 0px;
                position: relative;
                margin-top: -34px;
                margin-bottom: 0px;

                a{
                    font-weight: bold;
                    color: $main-blue;
                    text-decoration: none !important;

                    &:hover{
                        color: darken($main-blue, 5);
                    }
                }
            }
        }
    }
}

.woocommerce-account .woocommerce{
    font-size: 90%;

    .woocommerce-info{
        .button{
            display: none;
        }
    }
    
    .my-account-title{
        background: #95d8d2;
        color: #767676;
        font-weight: bold;
        font-size: 110%;
        padding: 15px;
        width: 100%;
        float: right;
        position: relative;
        z-index: 1;
    }

    .my-account-inner{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
        display: block;
        margin: -10px 0px 20px;
        padding: 15px;
        float: right;
        color: #999999;
        width: 100%;
        border: none;
        border-radius: 0px;

        .woocommerce-order-details__title{
            font-size: 120%;
            font-weight: 600;
            color: $main-blue;
        }

        .woocommerce-orders-table{
            margin: 0px;
            border-radius: 0px;

            .button{
                margin-top: 0px;
                margin-bottom: 0px;
            }
            
            thead{

                tr{

                    th{
                        text-align: right;
                    }
                }
            }

            tbody{

                tr{

                    td{
                        padding: 9px 10px 6px;
                    }
                }
            }
        }

        .form-row-first,
        .form-row-last{
            width: 49%;
        }

        .edit-account{
            legend{
                float: right;
                width: 100%;
                margin-top: 10px;
            }
        }

        .button{
            margin-top: 10px;
        }

        legend,
        h3{
            color: $main-blue;
            font-weight: 600;
            font-size: 120%;
        }

        a{
            color: $main-blue;
            text-decoration: none !important;

            &:hover{
                color: darken($main-blue, 10);
            }
        }

        p:last-child{
            margin-bottom: 0px;
        }

        .woocommerce-info{
            margin-bottom: 0px;
        }

        .woocommerce-Address{
            width: 100%;
            max-width: 100%;
            flex: none;
            border-bottom: 1px solid rgba(149, 216, 210, 0.74);
            margin-bottom: 20px;

            &:first-child{
                padding-top: 20px;
                border-top: 1px solid rgba(149, 216, 210, 0.74);
            }

            &:last-child{
                margin-bottom: 0px;
            }
        }
    }

    form{
        width: 100%;
        margin-top: 5px;

        label{
            color: #999999;
        }

        .form-row .required{
            color: $main-blue;
            float: right;
            margin-left: 5px;
            text-decoration: none !important;
        }

        input{
            background: #fff;
            border: none;
            padding: 7px 8px;
            font-size: 100%;
        }

        .select2-container--default .select2-selection--single{
            border: none;
            border-radius: 0px;
            height: auto;
            padding: 4px 0px;
            outline: none !important;
            font-size: 100%;
            margin-bottom: 0px;

            .select2-selection__arrow b{
                margin-left: 0px;
                margin-top: 2px;
            }
        }
    }
}

.woocommerce-MyAccount-navigation{
    
    .title {
        background: #95d8d2;
        color: #767676;
        font-weight: bold;
        font-size: 110%;
        padding: 15px;
        width: 100%;
        float: right;
        position: relative;
        z-index: 1;
    }

    ul{
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
        display: block;
        margin: -10px 0px 20px;
        padding: 15px;
        float: right;
        color: #999999;
        width: 100%;
        border: none;
        border-radius: 0px;
        list-style-type: none;

        li{
            border-top: 1px solid rgba(149, 216, 210, 0.74);
            padding: 10px 0px;

            &:first-child{
                padding-top: 0px;
                border: none;
            }

            &:last-child{
                padding-bottom: 0px;
            }

            a{
                color: $main-blue;
                font-weight: 400;
                text-decoration: none !important;

                &:hover{
                    color: darken($main-blue, 10);
                }
            }
        }
    }
}

body.woocommerce-order-received{
    .cart-empty,
    .return-to-shop{
        display: none !important;
    }
}

.mark, mark{
    padding: 0px 3px;
    background-color: #addfdb;
    color: #fff;
}

#page .order_details{
    border-radius: 0px;
    font-size: 90%;

    th{
        text-align: right;
    }

    td{
        vertical-align: middle;
    }

    a{
        color: $main-blue;
        font-weight: 400;
        text-decoration: none !important;

        &:hover{
            color: darken($main-blue, 10);
        }
    }

    .product-info{
        display: flex;
        align-items: center;
    }

    .attachment-woocommerce_thumbnail{
        width: 100px;
        height: 100px;
        object-fit: cover;
        float: right;
        margin-left: 10px;
        margin-right: -7px;
        box-shadow: inset 0px 0px 5px rgba(149, 216, 210, 0.38);
        border: 1px solid #95d8d2;
        padding: 2px;
    }
}

#page .woocommerce-order-details{
    margin-bottom: 20px;
}

#page .woocommerce-customer-details{
    margin-bottom: 0px;
    
    .col-1,
    .col-2{
        max-width: 100%;
        width: 100%;
        flex: none;
        float: right;
        padding: 0px 5px;

        h2{
            color: $main-blue;
            font-weight: 600;
            font-size: 120%;
        }

        address{
            border: none;
            margin: 0px;
            padding: 0px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(149, 216, 210, 0.74);
            border-radius: 0px;
        }
    }

    .col-2{
        margin-top: 20px;

        address{
            padding-bottom: 0px;
            border-bottom: none;
        }
    }
}

#page .woocommerce-order-details__title{
    font-size: 120%;
    font-weight: 600;
    color: $main-blue;
    margin-bottom: 10px;
}

#page .blockUI.blockOverlay{
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.42) !important;

    &:before{
        width: 50px !important;
        height: 50px !important;
        background: url(../img/loading.gif) no-repeat !important;
        background-size: 100% !important;
        margin: 0px !important;
        transform: translate(50%, -50%) !important;
        transition: none !important;
        animation: none !important;
    }
}

@media(max-width: 991px) {

    #page .woocommerce-MyAccount-navigation{
        display: none;
    }

    #page .woocommerce-MyAccount-content{
        width: 100%;
    }
}

@media(max-width: 767px) {

    #page .woocommerce-order-details{
        font-size: 80%;
    }

    #page .order_details .product-info > a{
        display: none;
    }
    
    #page .shipped_via{
        display: block;
    }
}