/* hebrew */
@font-face {
    font-family: 'GveretLevin';
    font-style: normal;
    font-weight: 700;
    src: local('GveretLevinAlefAlefAlef Regular'), local('GveretLevinAlefAlefAlef-Regular'), url(../fonts/GveretLevinAlefAlefAlef-Regular.woff) format('woff');
}