.product_data_tabs{

    .crop_settings_tab a:before{
        font-family: "Dashicons";
        content: "\f165" !important;
        padding-left: 5px;
    }
}

#crop_settings_tab_data{

    .add-image-wrapper{
        text-align: center;
        padding: 15px 0px;
        border-bottom: 1px solid #eee;

        .add-image{
            height: auto;
            font-size: 120%;
            padding: 15px 57px;
            display: inline-block;
        }
    }

    .image-list{

        a{
            width: 120px;
            height: 120px;
            display: block;
            border-radius: 6px;
            float: right;
            outline: none !important;
            border: 1px solid #eee;
            margin: 15px 15px 15px 0px;
            box-shadow: none !important;
            padding: 2px;

            &:hover{
                border-color: #979696;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }
    }

    .image-settings{
        position: fixed;
        top: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        z-index: 1500000;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s all;

        &.open{
            visibility: visible;
            opacity: 1;
        }

        .image-settings-inner{
            width: 800px;
            background: #fff;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.55);
            border-radius: 4px;

            .image-cropper{
                width: 400px;
                float: right;
                position: relative;
                border-left: 1px solid #dedede;

                .title{
                    width: calc(100% - 10px);
                    border-bottom: 1px solid #dedede;
                    padding-right: 10px;
                    padding-bottom: 13px;
                    margin-bottom: 0px;
                    font-weight: bold;
                }

                .image-cropper-inner{
                    position: relative;
                        
                    img{
                        width: 100%;
                    }
                }
            }

            .extra-settings{
                float: right;
                width: 399px;

                .form-field{
                    float: right;
                    width: calc(100% - 30px);
                    padding: 15px !important;
                    margin: 0px;
                }

                label{
                    font-weight: bold;
                    width: 100%;
                    margin: 0px !important;
                }

                input,
                select{
                    width: 100%;
                }
            }

            .actions{
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 370px;
                padding: 15px;
                border-top: 1px solid #dedede;

                .remove{
                    float: right;
                    background: #cc2020;
                    box-shadow: none;
                    color: #fff;
                    border: 0px;
                    height: auto;
                    padding: 2px 15px;
                }

                .save,
                .cancel{
                    float: left;
                    margin-right: 15px;
                }
            }
        }
    }

    .image-price{
        width: 100%;
        float: right;
        border-top: 1px solid #eee;
        padding: 15px;

        label{
            float: right;
            width: 100%;
            margin: 0px;
            padding: 0px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

}